@charset "euc-jp";

.pan	{
	font-size:10px;
	padding:0px 0 10px 0;
}

.pan a,
.pan a:link,
.pan a:visited {
	color:#42A800;
	text-decoration:underline;
}

.pan a:hover,
.pan a:active {
	color:#42A800;
	text-decoration:none;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
アドバイザー紹介
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
#advise	{
	line-height:1.7em;
}

#adviser h3 {
	margin:0px;
	padding:0px 0 10px 0;
}

#adviser h4 {
	margin:0px;
	padding:0px 0 20px 0;
}

#adviser .line	{
	border-bottom:1px dotted #CCCCCC;
	padding:0px 0px 5px 0px;
	line-height:1.7em;
}

#adviser .line2	{
	border-bottom:1px dotted #CCCCCC;
	padding:0px 0px 5px 0px;
	line-height:1.7em;
	margin-bottom:10px;
}

#adviser table.list	{
	margin-top:20px;
}

#adviser table.detail	{
	margin-top:20px;
}

#adviser .name	{
	background: url(../adviser/image/arrows.jpg) left top no-repeat;
	background-position:0px 4px;
	padding-left:15px;
	margin-top:10px;
	color:#42A800;
	font-weight:bold;
}

#adviser .initial	{
	background: url(../adviser/image/arrows.jpg) left top no-repeat;
	background-position:0px 4px;
	padding-left:15px;
	color:#42A800;
	font-weight:bold;
	font-size:16px;
	margin-top:7px;
}

#adviser .photo	{
	border:3px solid #DDDDDD;
	margin:10px 0px;
}

#adviser .photo2	{
	border:3px solid #DDDDDD;
}

#adviser .btn {
	text-align:center;
}

#adviser .shosai	{
	background: url(../adviser/image/adviser_bg01.jpg) left top repeat-y;
}

#adviser .shosai_waku	{
	padding:10px 15px;
}

#adviser span.green	{
	color:#42A800;
	font-weight:bold;
}

#adviser .green2	{
	color:#42A800;
	font-weight:bold;
	margin-top:15px;
	font-size:18px;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
物件紹介
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
#property	{
	line-height:1.7em;
}

#property h3 {
	margin:0px;
	padding:0px 0 10px 0;
}

#property h4 {
	margin:0px;
	padding:0px 0 20px 0;
}

#p_waku	{
	background: url(../property/image/property_bg01.jpg) left top repeat-y;
	width:625px;
	padding:10px 15px;
}

#property .photo	{
	border:3px solid #DDDDDD;
	margin-right:10px;
}

#property .photo2	{
	border:3px solid #DDDDDD;
}

#property .b_title	{
	float:left;
	margin-right:10px;
}

#property .title	{
	background: url(../property/image/property_bg02.jpg) left top repeat-y;
	padding:5px 15px;
	color:#42A800;
	font-weight:bold;
	margin-bottom:10px;
	font-size:16px;
}

#property .l_btn	{
	float:left;
	margin:2px 0px 5px 0px;
}

#property .title2	{
	background: url(../adviser/image/arrows.jpg) left top no-repeat;
	background-position:0px 4px;
	padding-left:15px;
	padding-bottom:5px;
	color:#42A800;
	font-weight:bold;
	font-size:16px;
	margin-top:3px;
	border-bottom:1px dotted #CCCCCC;
}

#property .title3	{
	background: url(../property/image/property_bg03.jpg) left top repeat-y;
	padding:5px 15px;
	color:#FF9C00;
	font-weight:bold;
	margin-bottom:10px;
	font-size:16px;
}

#property .title4	{
	background: url(../property/image/arrows.jpg) left top no-repeat;
	background-position:0px 4px;
	padding-left:15px;
	padding-bottom:5px;
	color:#FF9C00;
	font-weight:bold;
	font-size:16px;
	margin-top:3px;
	border-bottom:1px dotted #CCCCCC;
}

#property .text	{
	margin-bottom:10px;
}

#property .btn	{
	text-align:right;
	padding-top:10px;
}

#property .btn2	{
	text-align:center;
	padding:10px 0px;
}

#property .btn3	{
	text-align:right;
	padding-top:10px;
}

#property .btn4	{
	text-align:center;
}

#property table.list	{
	margin-top:20px;
}

#property table td a,
#property table td a:link,
#property table td a:visited {
	color:#000000;
	font-size:10px;
	text-decoration:none;
	vertical-align:middle;
}

#property table td a:hover,
#property table td a:active {
	color:#000000;
	font-size:10px;
	vertical-align:middle;
	text-decoration:underline;
}

#property .ico	{
	float:right;
}

#property .chui	{
	text-align:right;
}

#property table.p_shosai {
	width:655px;
	margin:20px 0px;
	padding:0;
	border-collapse:separate;
	border:0;
	background-color:#cccccc;
}

#property table.p_shosai th {
	width:120px;
	padding:4px 4px 4px 8px;
	border:1px solid #ffffff;
	background-color:#ededed;

	white-space:nowrap;
	
	font-weight:normal;
	text-align:left;
	vertical-align:top;
}

#property table.p_shosai td {
	padding:4px 4px 4px 8px;
	border:1px solid #ffffff;
	background-color:#ffffff;
	line-height:20px;
	text-align:left;
	vertical-align:top;
}

#property .kanbai	{
	border:2px solid #42A800;
	color:#42A800;
	font-weight:bold;
	padding:5px 10px;
	margin:10px 0 5px 0;
	text-align:center;
}

#property .kanbai2	{
	border:2px solid #FF9C00;
	color:#FF9C00;
	font-weight:bold;
	padding:5px 10px;
	margin:10px 0 5px 0;
	text-align:center;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
グッドコムアセットとは
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
#about	{
	line-height:1.7em;
}

#about h3 {
	margin:0px;
	padding:0px 0 10px 0;
}

#about h4 {
	margin:0px;
	padding:0px 0 15px 0;
}

#about .green	{
	color:#42A800;
	font-weight:bold;
	font-size:16px;
}

#about .p_name	{
	text-align:right;
	margin-bottom:20px;
}

#about .line	{
	border-bottom:1px dotted #CCCCCC;
	padding:5px 0px 5px 0px;
	line-height:1.7em;
}

#about .hoshin	{
	padding:0px 0px 5px 0px;
	line-height:1.7em;
}

#about .photo	{
	border:3px solid #DDDDDD;
	margin:0px 0px 15px 15px;
	float:right;
}

#about .gyokan	{
	margin-bottom:20px;
	line-height:1.7em;
}

#about .gyokan2	{
	margin-bottom:20px;
	line-height:1.7em;
	font-size: 14px;
}

#about table.gaiyo {
	width:655px;
	margin:0px 0px;
	padding:0;
	border-collapse:separate;
	border:0;
	background-color:#cccccc;
}

#about table.gaiyo th {
	width:120px;
	padding:4px 4px 4px 8px;
	border:1px solid #ffffff;
	background-color:#ededed;

	white-space:nowrap;
	
	font-weight:normal;
	text-align:left;
	vertical-align:top;
}

#about table.gaiyo td {
	padding:4px 4px 4px 8px;
	border:1px solid #ffffff;
	background-color:#ffffff;
	line-height:20px;
	text-align:left;
	vertical-align:top;
}

#map_waku	{
	background: url(../about/image/about_bg01.jpg) left top repeat-y;
	width:645px;
	padding:0px 5px;
}

#about .map_line	{
	border-bottom:1px dotted #CCCCCC;
	padding:5px 0px 5px 0px;
	line-height:1.7em;
}

#about	.btn	{
	text-align:center;
	padding:10px 0px;
}

#about	.btn2	{
	text-align:center;
	padding:25px 0px 30px 0px;
}

#about table.bokken {
	margin-top:10px;
}

#about table.bokken td {
	border-bottom:1px dotted #CCCCCC;
	padding:9px 0px 5px 15px;
	background: url(../adviser/image/arrows.jpg) left top no-repeat;
	background-position:0px 14px;
	width:196px;
}

#about table.enkaku {
	background: url(../about/image/enkaku_bg02.jpg) right top no-repeat;
}

#about table.enkaku th  {
	padding:3px 0px 5px 10px;
	background: url(../about/image/enkaku_bg01.jpg) left top repeat-y;
	width:130px;
	border-bottom:10px solid #FFFFFF;
}

#about table.enkaku td {
	padding:3px 0px 5px 0px;
	line-height:1.7em;
	border-bottom:10px solid #;
}

#about table.adobe	{
	margin:20px 0px;
}

#ir_waku	{
	background: url(../about/image/ir_bg01.jpg) left top repeat-y;
	width:625px;
	padding:10px 15px;
}

#ir_waku .line{
	border-bottom:1px dotted #cccccc;
	padding-bottom:10px;
	margin-bottom:15px;
}

#ir_waku td	span.ico{
	float:left;
}

#ir_waku td	span.title{
	float:left;
	padding-top:3px;
	width:600px;
}

#ir_waku .photo	{
	border:3px solid #DDDDDD;
	margin:0px 10px 0px 0px;
}

#ir_waku a,
#ir_waku a:link,
#ir_waku a:visited {
	color:#006AA8;
	text-decoration:underline;
}

#ir_waku a:hover,
#ir_waku a:active {
	color:#006AA8;
	text-decoration:none;
}

#about .recruit_btn	{
	text-align:center;
	padding:10px 0 0 0;
	font-weight:bold;
	color:#42A800;
}

#recruit_waku	{
	background: url(../about/image/recruit_bg01.jpg) right bottom no-repeat;
	width:635px;
	padding:10px 10px 70px 10px;
}

#recruit_waku	.haikei	{
	background: url(../about/image/recruit_bg02.jpg) right bottom repeat-y;
	width:338px;
	padding:10px 20px;
}

#jigyo	{
	line-height:3.0em;
	padding-bottom:30px;
}

#jigyo	.font01	{
	font-size:19px;
	font-weight:bold;
	color:#333333;
}

#jigyo	.font02	{
	font-size:31px;
}

#jigyo	.green02	{
	color:#42A800;
	font-size:31px;
}

#idea	{
	padding-bottom:20px;
}

#idea	.font01	{
	font-size:27px;
	line-height:1.6em;
	color:#333333;
	padding:0px 0 50px 0;
}

#idea	.font02	{
	font-size:27px;
	line-height:1.6em;
	color:#194794;
	font-weight:bold;
	padding:0px 0px 10px 0px;
}

#idea	.font03	{
	font-size:14px;
	line-height:1.6em;
	color:#333333;
}

#guideline	.head	{
	font-size:14px;
	line-height:1.6em;
	color:#333333;
	padding:10px 20px 20px 10px;
}

#guideline	.title	{
	font-size:14px;
	line-height:1.6em;
	color:#333333;
	font-weight:bold;
	padding:0px 20px 5px 10px;
}

#guideline	.detail	{
	font-size:14px;
	line-height:1.6em;
	color:#333333;
	padding:0px 20px 10px 30px;
}

#guideline	.date	{
	font-size:14px;
	line-height:1.6em;
	color:#333333;
	text-align: right;
	padding:20px 20px 10px 30px;
}

#koukoku	.title	{
	font-size:12px;
	line-height:1.6em;
	color:#333333;
	padding:10px 20px 10px 10px;
}


/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
お問い合わせ・資料請求
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
#contact	{
	line-height:1.7em;
}

#contact h3 {
	margin:0px;
	padding:0px 0 10px 0;
}

#contact h4 {
	margin:0px;
	padding:15px 0 20px 0;
}

#contact_waku	{
	background: url(../contact/image/contact_bg01.jpg) left top repeat-y;
	width:625px;
	padding:10px 15px;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
プライバシーポリシー
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
#policy	{
	line-height:1.7em;
}

#policy h3 {
	margin:0px;
	padding:0px 0 10px 0;
}

#policy h4 {
	margin:0px;
	padding:0px 0 20px 0;
}

#policy	p.gyokan	{
	line-height: 1.7em;
	text-indent: 1em;
	font-size: 14px;
}

#policy .line	{
	border-bottom: 1px dotted #CCCCCC;
	padding: 15px 0px 5px 0px;
	line-height: 1.7em;
	font-size: 14px;
}

#policy .line_level2	{
	padding-bottom: 1.0em;
	margin-left: 2.0em;
	text-indent: -1.5em;
	font-size: 14px;
}

#policy .line_level3	{
	margin-left: 3.0em;
	text-indent: -1.5em;
	font-size: 14px;
}

#policy .line_level4	{
	margin-left: 4.0em;
	text-indent: -1.0em;
	font-size: 14px;
}

#policy .line_level5	{
	margin-left: 5.5em;
	text-indent: -1.5em;
	font-size: 14px;
}

#policy .line_level6	{
	margin-left: 7.0em;
	text-indent: -1.5em;
	font-size: 14px;
}

#policy .inquiry	{
	padding: 15px 0px 5px 50px;
	line-height: 1.7em;
	font-size: 14px;
}

#policy .address	{
	padding: 15px 0px 5px 50px;
	line-height: 1.7em;
	font-size: 14px;
}

#policy ol	{
	margin-top: 10px;
	margin-left: 1.0em;
	text-indent: -1.5em;
	font-size: 14px;
}

#policy li	{
	padding-left:15px;
	padding-top:10px;
	line-height:1.7em;
}

#policy .name {
	text-align:right;
	padding-bottom:15px;
	font-size: 14px;
}

#policy .finisher {
	text-align:right;
	padding: 10px 0px 10px 0px;
	font-size: 14px;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
お知らせ
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
#news	{
	line-height:1.7em;
}

#news h3 {
	margin:0px;
	padding:0px 0 10px 0;
}

#news h4 {
	margin:0px;
	padding:0px 0 20px 0;
}

#news table.adobe	{
	margin:20px 0px;
}

#tab ul {
	list-style-type:none;
	margin:0px auto;
	clear:both;
}

#tab li {
	float:left;
	margin-right:7px;
}

#tab li img,
#tab li a img {
	vertical-align:top;
}

#news_waku	{
	background: url(../news/image/news_bg01.jpg) left top repeat-y;
	width:625px;
	padding:10px 15px;
}

#news_waku .line{
	border-bottom:1px dotted #cccccc;
	padding-bottom:10px;
	margin-bottom:15px;
}

#news_waku td	span.ico{
	float:left;
}

#news_waku td	span.title{
	float:left;
	padding-top:3px;	
	width:600px;	
}

#news_waku .photo	{
	border:3px solid #DDDDDD;
	margin:0px 10px 0px 0px;
}

#news_waku a,
#news_waku a:link,
#news_waku a:visited {
	color:#666666;
	text-decoration:underline;
}

#news_waku a:hover,
#news_waku a:active {
	color:#666666;
	text-decoration:none;
}

#news_waku2	{
	background: url(../news/image/news_bg02.jpg) left top repeat-y;
	width:625px;
	padding:10px 15px;
}

#news_waku2 .line{
	border-bottom:1px dotted #cccccc;
	padding-bottom:10px;
	margin-bottom:15px;
}

#news_waku2 td	span.ico{
	float:left;
}

#news_waku2 td	span.title{
	float:left;
	padding-top:3px;
	width:600px;	
}

#news_waku2 .photo	{
	border:3px solid #DDDDDD;
	margin:0px 10px 0px 0px;
}

#news_waku2 a,
#news_waku2 a:link,
#news_waku2 a:visited {
	color:#089F90;
	text-decoration:underline;
}

#news_waku2 a:hover,
#news_waku2 a:active {
	color:#089F90;
	text-decoration:none;
}

#news_waku3	{
	background: url(../news/image/news_bg03.jpg) left top repeat-y;
	width:625px;
	padding:10px 15px;
}

#news_waku3 .line{
	border-bottom:1px dotted #cccccc;
	padding-bottom:10px;
	margin-bottom:15px;
}

#news_waku3 td	span.ico{
	float:left;
}

#news_waku3 td	span.title{
	float:left;
	padding-top:3px;	
	width:600px;	
}

#news_waku3 .photo	{
	border:3px solid #DDDDDD;
	margin:0px 10px 0px 0px;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
サイトマップ
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
#sitemap	{
	line-height:1.7em;
}

#sitemap h3 {
	margin:0px;
	padding:0px 0 10px 0;
}

#sitemap .page	{
	background: url(../sitemap/image/arrows.jpg) left top no-repeat;
	background-position:0px 4px;
	padding:0 0px 5px 15px;
	font-weight:bold;
	border-bottom:1px dotted #CCCCCC;
}

#sitemap .page2	{
	background: url(../sitemap/image/arrows.jpg) left top no-repeat;
	background-position:0px 19px;
	padding:15px 0px 5px 15px;
	font-weight:bold;
	border-bottom:1px dotted #CCCCCC;
}

#sitemap th	{
	width:20px;
}

#sitemap td ul	{
	margin-left:5px;
	margin-top:10px;
	line-height:1.7em;
}

#sitemap td a,
#sitemap td a:link,
#sitemap td a:visited {
	color:#666666;
	text-decoration:underline;
}

#sitemap td a:hover,
#sitemap td a:active {
	color:#666666;
	text-decoration:none;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
将来に不安を抱えている皆様へ
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
#future	{
	line-height:1.7em;
}

#future h3 {
	margin:0px;
	padding:0px 0 10px 0;
}

#future h4 {
	margin:0px;
	padding:0px 0 15px 0;
}

#future .btn {
	text-align:center;
	padding:20px 0px 10px 0px;
}

#future span.green	{
	color:#42A800;
	font-weight:bold;
	font-size:18px;
}

#faq_waku	{
	background: url(../future/image/future_bg01.jpg) left top repeat-y;
	width:625px;
	padding:10px 15px;
}

#faq_waku .category	{
	background: url(../future/image/arrows.jpg) left top no-repeat;
	background-position:0px 4px;
	padding-left:15px;
	padding-right:10px;
}

#future	.haikei	{
	background: url(../future/image/faq_bg01.jpg) left top no-repeat;
	padding-top:15px;
}

#future .title	{
	background: url(../future/image/future_subtitle01.jpg) left top no-repeat;
	padding:4px 0 5px 115px;
	border-bottom:1px dotted #CCCCCC;
	font-weight:bold;
	margin-bottom:10px;
	line-height:1.7em;
}

#future .title2	{
	background: url(../future/image/future_subtitle01.jpg) left top no-repeat;
	padding:4px 0 5px 115px;
	border-bottom:1px dotted #CCCCCC;
	font-weight:bold;
	margin-top:7px;
	margin-bottom:10px;
	line-height:1.7em;
}

#future .answer	{
	background: url(../future/image/future_subtitle02.jpg) left top no-repeat;
	padding:4px 0 10px 115px;
	border-bottom:3px double #44A700;
	margin-bottom:10px;
	line-height:1.7em;
}

#future .line	{
	border-bottom:1px dotted #CCCCCC;
	padding:5px 0px 5px 0px;
	line-height:1.7em;
}

#flow_waku	{
	background: url(../future/image/flow_bg01.jpg) left top repeat-y;
	width:615px;
	padding:0px 20px;
	line-height:1.7em;
}

.nenkin_waku	{
	background: url(../future/image/nenkin_bg01.jpg) left top repeat-y;
	width:320px;
	padding:0px;
	line-height:1.7em;
}

.nenkin_waku p	{
	padding:0px 20px;
}

#yougo ul {
	list-style-type:none;
	width:655px;
	margin:0px auto;
	clear:both;
}

#yougo li {
	float:left;
	margin-right:5px;
}

#yougo li img,
#yougo li a img {
	vertical-align:top;
}

#yougo_waku{
	padding-top:15px;
}

#yougo_waku table {
	width:655px;
	margin:10px 0px;
	padding:0;
	border-collapse:separate;
	border:0;
	background-color:#cccccc;
}

#yougo_waku th {
	width:170px;
	padding:4px 4px 4px 8px;
	border:1px solid #ffffff;
	background-color:#ededed;

	white-space:nowrap;
	
	font-weight:normal;
	text-align:left;
	vertical-align:top;
}

#yougo_waku td {
	padding:4px 4px 4px 8px;
	border:1px solid #ffffff;
	background-color:#ffffff;
	line-height:20px;
	text-align:left;
	vertical-align:top;
}

#support	.font01	{
	font-size:16px;
	color:#333333;
	font-weight:bold;
	padding:0px 0px 25px 0px;
}

#support	.font02	{
	font-size:24px;
	line-height:1.6em;
	font-weight:normal;
}

#support	.font03	{
	color:#42A800;
}

#support	.font04	{
	font-size:16px;
	line-height:1.8em;
	color:#333333;
	font-weight:bold;
	padding:0px 0px 20px 0px;
}

#support	.font05	{
	font-size:14px;
}

#support	.font06	{
	color:#F50100;
}

/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
成功体験談
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
#success	{
	line-height:1.7em;
}

#success h3 {
	margin:0px;
	padding:0px 0 10px 0;
}

#success h4 {
	margin:0px;
	padding:0px 0 20px 0;
}

#success .line	{
	border-bottom:1px dotted #CCCCCC;
	padding:5px 0px 5px 0px;
	line-height:1.7em;
}

#success table.shosai {
	width:655px;
	margin:10px 0px;
	padding:0;
	border-collapse:separate;
	border:0;
	background-color:#cccccc;
}

#success table.shosai th {
	width:120px;
	padding:4px 4px 4px 8px;
	border:1px solid #ffffff;
	background-color:#ededed;

	white-space:nowrap;
	
	font-weight:normal;
	text-align:left;
	vertical-align:top;
}

#success table.shosai td {
	padding:4px 4px 4px 8px;
	border:1px solid #ffffff;
	background-color:#ffffff;
	line-height:20px;
	text-align:left;
	vertical-align:top;
}

#success .s_left {
	width:320px;
	float:left;
}

#success .s_center {
	width:15px;
	float:left;
	background: url(../future/image/nenkin_bg01.jpg) left middle no-repeat;
}

#success .s_right	{
	width:320px;
	float:left;
}

#success table.shosai2 {
	width:320px;
	margin:10px 0px;
	padding:0;
	border-collapse:separate;
	border:0;
	background-color:#cccccc;
}

#success table.shosai2 th {
	width:120px;
	padding:4px 4px 4px 8px;
	border:1px solid #ffffff;
	background-color:#ededed;

	white-space:nowrap;
	
	font-weight:normal;
	text-align:left;
	vertical-align:top;
}

#success table.shosai2 td {
	padding:4px 4px 4px 8px;
	border:1px solid #ffffff;
	background-color:#ffffff;
	line-height:20px;
	text-align:left;
	vertical-align:top;
}

#success .line	{
	border-bottom:1px dotted #CCCCCC;
	padding:10px 0px 5px 0px;
	line-height:1.7em;
}

#success .green	{
	color:#42A800;
	font-weight:bold;
	margin-top:15px;
	font-size:18px;
}
