@charset "euc-jp";
#f_area1 {
	width:625px;
	margin:0px;
	padding:0;
	text-align:left;
}

/*form table inList*/
#f_area2 table ul {
	width:auto;
	margin:0;
	padding:0;
}

#f_area2 table li {
	list-style:none;
	margin:0;
	padding:0;
}

#f_area2 {
	width:625px;
	margin:0;
	padding:0;
	background-color:#ffffff;
}

#f_area2 p a:link {
    color:#0000FF;
	text-decoration: underline;
} 

#f_area2 p a:visited {
    color:#0000FF;
	text-decoration: underline;
} 

#f_area2 p a:hover {
	text-decoration: none;
} 

#f_area2 p a:active {
	text-decoration: none;
}

/*form_table*/
#f_area2 table {
	width:625px;
	margin:0 0px 20px 0px;
	padding:0;
	border:0;
}

/*table_th*/
#f_area2 th {
	width:179px;
	padding:6px 4px 6px 20px;
	border-bottom:1px dotted #CCCCCC;
	background-color:#FFFFFF;

	white-space:nowrap;
	
	font-weight:normal;
	text-align:left;
	vertical-align:top;
}

#f_area2 th div{
	text-indent:-12px;
}

/*table_td*/
#f_area2 td {
	padding:6px 4px 6px 8px;
	border-bottom:1px dotted #CCCCCC;
	background-color:#ffffff;
	line-height:20px;
	text-align:left;
	vertical-align:top;
}

#f_area2 table li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0 20px 0 0;
}

#f_area2 table li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0 20px 0 0;
}

input,select,textarea {
	font-size:1em;
	margin-bottom:1px;
	color:#666666;
	vertical-align:top;
}

.mini {
	font-size:10px;
}

optgroup {
	background-color:#ffffff;
	color:#666666;
	font-style:normal;
}

option {
	margin-bottom:1px;
	background-color:#ffffff;
	color:#666666;
}


/*ime_mode*/
.ime_on {
	ime-mode:active;
}

.ime_off {
	ime-mode:disabled;
}

/*input_text_setting*/
input#issue_text {
	width:200px;
	color:#666666;
}

input#name,
input#ruby,
input#kana,
input#company,
input#post {
	width:240px;
	color:#666666;
}

input#tel,
input#fax {
	width:140px;
	color:#666666;
}

input#email {
	width:240px;
	color:#666666;
}

input#year,
input#month,
input#day {
	width:30px;
	color:#666666;
}

input#zip {
	width:60px;
	color:#666666;
}

input#address {
	width:350px;
	color:#666666;
}


textarea#comment {
	width:350px;
	color:#666666;
}


/*submitBtn*/
#formEnd {
	padding:0 20px 20px 20px;
	text-align:center;
}

#formEnd input {
	font-weight:bold;
}

.ondes {color: #999;}