#jigyo_title {
margin-bottom: 12px;	
}
.jigyo_headline {
margin-bottom :12px;
}
/*box*/
.jigyo_box {
margin-bottom: 26px;	
}
.jigyo_left_01 {
float:left;
display:inline;
width: 298px;
}
.jigyo_right_01 {
float:left;
display:inline;
padding-left: 8px;
width: 340px;
}
.jigyo_left_02 {
float:left;
display:inline;
width: 340px;
}
.jigyo_right_02 {
float:right;
display:inline;
padding-left: 8px;
width: 298px;
}
.jigyo_left_03 {
float:left;
display:inline;
width: 145px;
}
.jigyo_right_03 {
float:left;
display:inline;
padding-left: 8px;
}
.jigyo_info {
margin-bottom: 12px;	
}
.jigyo_prof {
font-weight:bold;	
}
.jigyo_prof2 {
font-size: 10px;
line-height:1.4;
}
/*class*/
.clr {
clear:both;	
}
.hide {
display:none;	
}
.border {
border-top: 1px dotted #000;
margin-bottom:4px;
}