@charset "euc-jp";
/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
ฅฟฅคฅศฅ๋
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
#top-page h3 {
	margin:0px;
	padding:0px;
}

#top-page h4 {
	margin:0px;
	padding:0px;
}

/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
ฅณฅ๓ฅฦฅ๓ฅฤ
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
.flash	{
	width:900px;
	margin:0px auto;
	padding:15px 0 10px 0;
}

.index_btn	{
	text-align:right;
	padding:0px 5px 25px 0px;
}

/*กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ
ฟทรๅพ๐ส๓
กแกแกแกแกแกแกแกแกแกแกแกแกแกแกแกแ*/
#nProgram {
	width:349px;
	height:238px;
	padding:5px 5px 10px 5px;
	overflow:auto;
	border-bottom:1px solid #C8C7C5;
	line-height:1.3em;
}

#nProgram	a,
#nProgram	a:link,
#nProgram	a:visited {
	color:#FF7300;
	text-decoration:underline;
}

#nProgram	a:hover,
#nProgram	a:active {
	color:#FF7300;
	text-decoration:none;
}

#nProgram p.hiduke{
	color:#F87203;
	font-weight:bold;
	font-size:10px;
}

#nProgram p.hiduke span.n_left{
	float:left;
	width:80px;
	background: url(../image/arrows.jpg) left top no-repeat;
	background-position:0px 4px;
	padding-left:15px;
}

#nProgram p.hiduke span.n_right{
	float:left;
	width:120px;
	padding-top:3px;
}

#nProgram p.text{
	font-size:10px;
	color:#84817C;
	padding-top:2px;
}

#nProgram dt {
	border-bottom:1px dotted #B3B0A9;
	padding:5px 0px 5px 0px;
	margin-right:5px;
}

#nProgram dl {
	margin:0px;
	padding:0px 0px 5px 0px;
}








