#roomlayout .torikago { position:relative;}
#roomlayout .torikago a { display:block; }
#roomlayout .torikago a { position:absolute; top:0; left:0; z-index:8; }
#roomlayout .torikago a.active { z-index:10; }
#roomlayout .torikago a.last-active { z-index:9; }
