@charset "UTF-8";
/* CSS Document */
body {
	overflow-x: hidden;
}
#news {
	width: 220px;
	background-color: #BDBFBE;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	height: auto;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
}
#news ul {
	margin-left: -30px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	display: block;
	vertical-align: top;
}
#news ul li {
	font-size: x-small;
	font-weight: normal;
	list-style-type: none;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
