@charset "UTF-8";
body, p, ul, li {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.5em;
}
h1, h2, h2, h3, h5, h6 {
}
a {
	color: #000000;
}
h1 {
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	color: #BDBFBE;
	text-align: left;
	text-shadow: 1px 1px 1px #000000;
	top: 50px;
	vertical-align: middle;
	margin: 0px;
	display: block;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
h2 {
	font-size: smaller;
	color: #000000;
	font-weight: lighter;
	line-height: 1.5em;
	margin: 0px;
	display: block;
}
h3 {
	font-style: normal;
	color: #727171;
	font-weight: normal;
	font-size: large;
	text-indent: 20px;
	margin-top: 0px;
	margin-bottom: 5px;
}
h4 {
	font-style: normal;
	font-size: small;
	font-weight: normal;
}
h5 {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	width: auto;
}
h6 {
	font-size: small;
	text-align: left;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}
body {
	background-color: #FFFFFF;
	font-size: small;
	width: 950px;
	height: auto;
	margin: 0 auto;
}
header {
	width: 950px;
	height: 70px;
	margin-top: 20px;
	margin-bottom: 0px;
}
span {
	color: #009944;
}
#headerleft {
	float: left;
	width: 340px;
	height: 70px;
	display: block;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#headermiddle {
	display: block;
	float: left;
	height: 70px;
	width: 340px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#headermiddle p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: x-small;
}
#headerright {
	display: block;
	float: left;
}
a.contact {
	background: url(../images/common/btn_contact.png);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 234px;
	height: 60px;
	float: right;
}
a.contact:hover {
	background: url(../images/common/btn_contact_p.png);
	display: block;
	float: right;
}
/*ナビケーション*/
#mainmenu {
	list-style-type: none;
	width: 950px;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: auto;
	margin-bottom: 30px;
	padding: 0;
	height: 20px;
	float: left;
}
#mainmenu li {
	position: relative;
	width: 12.5%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}
#mainmenu li a {
	display: block;
	margin: 0;
	padding-top: 9px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 8px;
	background-color: #BDBFBE;/*navカラー*/
	color: #FFFFFF;/*navテキストカラー*/
	font-size: large;
	font-weight: lighter;
	line-height: 1;
	text-decoration: none;
}
#mainmenu li ul {
	list-style: none;
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}
#mainmenu li ul li {
	overflow: hidden;
	width: 100%;
	height: 0;
	color: #fff;
	transition: .2s;
}
#mainmenu li ul li a {
	padding-top: 15px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 13px;
	background-color: #979A98;/*ドロップダウンメニュー1カラー*/
	text-align: left;
	font-weight: bold;
	font-size: x-small;
}
#mainmenu > li:hover > a {
	background-color: #979A98;/*nav_foverカラー*/
}
#mainmenu > li:hover li:hover > a {
	background-color: #676B69;/*ドロップダウンメニュー1foverカラー*/
}
#mainmenu li:hover > ul > li {
	overflow: visible;
	height: 38px;
}
#mainmenu li ul li ul {
	top: 0;
	left: 100%;
}
#mainmenu li:last-child ul li ul {
	left: -100%;
	width: 100%;
}
#mainmenu li ul li ul li a {
	background-color: #676B69;/*ドロップダウンメニュー2カラー*/
}
#mainmenu li:hover ul li ul li:hover > a {
	background-color: #484747;/*ドロップダウンメニュー2hoverカラー*/
}
#mainmenu li ul li ul:before {
	position: absolute;
	content: "";
	top: 13px;
	left: -20px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: #727171;/*左矢印カラー*/
}
#mainmenu li:last-child ul li ul:before {
	position: absolute;
	content: "";
	top: 13px;
	left: 200%;
	margin-left: -20px;
	border: 5px solid transparent;
	border-right-color: #727171;/*右矢印カラー*/
}
/*ナビ終了*/
main {
	width: 950px;
}
article {
	width: 250px;
	height: 210px;
	float: right;
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#text {
	border: 2px solid #727171;
	background-color: #BDBFBE;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	float: right;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
aside {
	width: 250px;
	height: 258px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	float: right;
}
footer {
	width: 950px;
	background-color: #FFFFFF;
	height: auto;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#footerleft {
	width: 50%;
	background-color: #FFFFFF;
	display: block;
	height: 100px;
	float: left;
	margin-top: 20px;
}
#footerright {
	width: 50%;
	background-color: #FFFFFF;
	display: block;
	top: 50%;
	left: 50%;
	height: 100px;
	float: right;
	margin-top: 20px;
}
.freecall {
	float: left;
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
}
#footerleft p {
	font-weight: lighter;
	font-size: small;
	line-height: 2em;
	display: block;
}
.gcalogo {
	display: block;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
}
#footerright p {
	font-weight: lighter;
	font-size: small;
	text-align: left;
	line-height: 2em;
	display: block;
}
strong {
	font-size: 1.5em;
}
#copyright {
	font-weight: lighter;
	font-size: x-small;
	clear: both;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
dl {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: lighter;
	font-size: smaller;
	line-height: 1.3em;
	margin-top: 10px;
}
dt {
	float: left;
	width: 40px;
}
dd {
	margin-left: 40px;
	margin-right: 10px;
}
#design {
	width: 910px;
	height: 580px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
}
#architect {
	display: block;
	font-weight: lighter;
	font-size: small;
	text-indent: 0px;
	color: #000000;
}
#gardendesigner {
	display: block;
	font-weight: lighter;
	font-size: small;
	text-indent: 0px;
	color: #000000;
}
#senshow {
	display: block;
	font-weight: lighter;
	font-size: small;
	text-indent: 0px;
	color: #000000;
}
#designleft {
	width: 240px;
	float: left;
	height: 480px;
}
#profilephoto {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#designright {
	width: 660px;
	float: left;
	height: 520px;
	margin-left: 10px;
}
#designcopy {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: auto;
	height: 160px;
}
#designphoto {
	height: 330px;
	width: auto;
	clear: both;
	margin-top: 30px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
#example1 {
	font-size: smaller;
	float: left;
	margin-top: 0px;
	margin-bottom: 5px;
	display: block;
	position: relative;
	margin-left: 0px;
	margin-right: 0px;
}
#example2 {
	font-size: smaller;
	float: left;
	clear: left;
	display: block;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#example3 {
	font-size: smaller;
	float: left;
	margin-bottom: 0px;
	display: block;
	margin-left: 0px;
	margin-right: 5px;
	margin-top: 0px;
}
#example4 {
	font-size: smaller;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	clear: right;
}
#example5 {
	float: left;
	font-size: smaller;
	margin-top: 40px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#example6 {
	float: left;
	font-size: smaller;
	margin-top: 40px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#example7 {
	float: left;
	font-size: smaller;
	margin-top: 40px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#wrapper {
	width: 950px;
	background-image: url(../images/common/6517903.jpg);
	height: auto;
	float: left;
}
.concept1 {
	width: 950px;
	height: 400px;
	text-align: center;
	float: left;
	margin-top: 40px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	display: block;
}
.concept2 {
	width: 950px;
	height: auto;
	text-align: center;
	float: left;
	margin-top: 40px;
	margin-left: 0px;
	margin-right: 0px;
	display: block;
	margin-bottom: 40px;
}
.concept1 .GW1 {
	float: left;
	font-size: x-small;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 15px;
	display: block;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 94.5px;
}
.concept1 .GW2 {
	font-size: x-small;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 15px;
	display: block;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 0px;
}
.concept1 .GW3 {
	font-size: x-small;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 15px;
	float: right;
	margin-top: 0px;
	margin-right: 94.5px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.gwphoto {
	width: 950px;
	height: 200px;
	margin-top: 40px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.PHphoto {
	width: 950px;
	height: 340px;
	margin-top: 40px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
.PH1 {
	float: left;
	font-size: x-small;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 15px;
	display: block;
	margin-left: 80px;
	margin-right: 40px;
}
.PH2 {
	float: left;
	font-size: x-small;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 15px;
	display: block;
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 15px;
}
.PH3 {
	float: right;
	font-size: x-small;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 15px;
	display: block;
	margin-right: 80px;
	margin-left: 40px;
}
.widearea {
	width: 950px;
	margin: 0 auto;
	height: 470px;
}
.widearea {
	width: 950px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	height: 485px;
	float: left;
}
.trainaccess {
	width: 950px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: auto;
	float: left;
	margin-right: 0px;
	margin-left: 0px;
}
.trainaccess table {
	font-size: smaller;
	display: block;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
}
.tat {
	width: 930px;
	height: 380px;
	display: block;
	float: left;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
.tat p {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: x-small;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: right;
}
.neermap {
	width: 950px;
	height: auto;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	float: left;
}
.neermap table caption {
	text-align: left;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: normal;
	font-size: medium;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
#loca1 {
	width: 930px;
	height: 210px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	clear: both;
}
#loca_block {
	width: 290px;
	height: 180px;
	float: left;
	position: relative;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-top: thin solid #727171;
}
#loca2 {
	width: 930px;
	height: 490px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 15px;
	float: left;
	display: block;
}
#loca_block img {
	display: block;
	position: absolute;
	bottom: 0;
	right: 20px;
	padding-bottom: 0px;
	margin-bottom: 10px;
	float: right;
}
#loca_block p {
	font-size: x-small;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#loca_block h6 {
	text-align: center;
	display: block;
	width: auto;
	height: 40px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
#widemap {
	width: 940px;
	height: 579px;
	display: block;
	margin-right: 5px;
	margin-bottom: 20px;
	margin-left: 5px;
	float: left;
	margin-top: 0px;
}
#lm3 {
	width: 587px;
	height: 578px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
#widearea {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	width: auto;
	text-align: center;
}
#trainaccess {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	width: auto;
	text-align: center;
}
#neermap {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	width: auto;
	text-align: center;
}
#li {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	width: auto;
	text-align: center;
}
#LItext {
	width: 930px;
	height: auto;
	text-align: left;
	font-size: x-small;
}
#LIhyou p {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: x-small;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: right;
}
#concept {
	width: 950px;
	height: 980px;
	display: block;
	margin-top: 40px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
}
.top {
	width: 950px;
	height: 468px;
	float: left;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
}
.copy strong {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: normal;
	font-size: medium;
}
#eq {
	display: block;
	width: 950px;
	height: auto;
	margin-top: 40px;
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}
#security {
	width: 950px;
	height: auto;
}
.trainaccess img {
	width: auto;
	height: auto;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 5px;
}
.neermap img {
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 20px;
	margin-left: 5px;
}
#LIhyou {
	width: auto;
	height: auto;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 10px;
}
#title {
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -10px;
	margin-top: 0px;
	display: block;
	width: auto;
	height: auto;
}
#monitor img {
	width: auto;
	display: block;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 20px;
	float: left;
	margin-top: 0px;
}
#monitor {
	width: 444px;
	height: 430px;
	display: block;
	float: left;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#elevatormon {
	width: 444px;
	height: 260px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	display: block;
	float: right;
}
#key {
	width: 455px;
	display: block;
	float: right;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	height: auto;
}
#elevatormon img {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	float: right;
}
#ds {
	float: right;
	width: 444px;
	height: 130px;
	padding-right: 10px;
	padding-left: 10px;
}
#dg {
	float: right;
	width: 444px;
	height: 130px;
	padding-right: 10px;
	padding-left: 10px;
}
#key img {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	float: left;
}
#dsdg img {
	display: block;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	clear: both;
}
#ds img {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	float: right;
}
#dg img {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	float: right;
}
#ventilation {
	width: 444px;
	height: 390px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	display: block;
	float: left;
}
#hikari {
	width: 444px;
	height: 150px;
	float: right;
	display: block;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
#hikari p strong {
	font-size: x-small;
	font-weight: lighter;
}
#hikari img {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#mmc {
	width: 444px;
	height: 160px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: right;
}
#mmc img {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#mmc p strong {
	font-size: x-small;
	font-weight: lighter;
}
#comfort {
	width: 930px;
	height: 500px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	display: block;
}
#comfort img {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	float: right;
	display: block;
}
#aircon {
	width: 444px;
	height: 450px;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#sensor {
	float: left;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	width: 300px;
	height: auto;
	margin-top: 10px;
}
#oneroom_eq {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: 20px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	width: 930px;
	float: left;
}
#kyotu {
	width: 930px;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#takuhaibox {
	width: 455px;
	width: 444px;
	height: 450px;
	display: block;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: right;
}
#structure {
	width: 930px;
	height: 700px;
	float: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	display: block;
}
#structurewaku {
	width: 290px;
	height: 470px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: left;
	position: relative;
}
#structurewaku img {
	position: absolute;
	bottom: 0;
	padding-left: 10px;
}
#seinohyoka {
	width: 455px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: left;
	height: 230px;
}
#gaiheki img {
	margin-top: 60px;
}
#kozakai img {
	margin-top: 80px;
}
#kashitanpo {
	width: 455px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: left;
	height: 130px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#kashitanpo img {
	display: block;
	float: right;
}
#setsubi {
	width: 930px;
	height: 400px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 20px;
	border-top: thick solid #727171;
	float: left;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}
#tenban {
	width: 910px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: left;
	height: 320px;
}
#tenban p {
	font-size: small;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 240px;
	float: left;
	display: block;
	line-height: 18px;
}
#tenban img {
	float: left;
	padding-right: 10px;
	padding-bottom: 40px;
}
#2ldk_kitchen2 {
	float: right;
	width: 222px;
	margin: 0 auto;
	height: 300px;
}
#jyusetsuwaku2 {
	width: 930px;
	height: 540px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 15px;
	border-top: thick solid #727171;
	float: left;
}
#jyusetsu {
	width: 290px;
	height: 500px;
	float: left;
	padding-right: 20px;
	position: relative;
}
#jyusetsu img {
	display: block;
	padding-top: 0px;
	padding-right: 35px;
	padding-left: 35px;
	position: absolute;
	bottom: 0;
}
#tyusyaku {
	width: auto;
	text-align: right;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	display: block;
	clear: both;
	font-size: x-small;
}
#type h6 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: large;
	font-weight: bold;
	font-style: italic;
	line-height: 30px;
}
#type h6 {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: large;
	font-weight: bold;
	font-style: italic;
	line-height: 30px;
}
#type {
	width: 500px;
	height: auto;
}
#roomlayout {
	width: 950px;
	height: 260px;
	margin-top: 40px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	float: left;
	display: block;
}
#roomlayout ul {
	list-style-type: none;
	margin: 0 0 0 1em;
	padding: 0;
}
#roomlayout li {
	display: inline;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#roomlayout ul li {
	float: left;
	overflow: hidden;
	width: 210px;
	height: 210px;
	text-indent: 100%;
	white-space: nowrap;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
#roomlayout a {
	width: 210px;
	height: 210px;
	display: block;
	float: left;
}
#roomlayout2 {
	height: 230px;
	padding-right: 230px;
	padding-left: 230px;
	width: 490px;
	display: block;
	float: left;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
}
#roomlayout2 ul {
	list-style-type: none;
	margin: 0 0 0 1em;
	padding: 0;
}
#roomlayout2 li {
	display: inline;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#roomlayout2 ul li {
	float: left;
	overflow: hidden;
	width: 210px;
	height: 210px;
	text-indent: 100%;
	white-space: nowrap;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
#roomlayout2 a {
	width: 210px;
	height: 210px;
	display: block;
	float: left;
}
a.tbt1 {
	background: url(../layout/images/btn_A.png) no-repeat;
}
a.tbt2 {
	background: url(../layout/images/btn_B.png) no-repeat;
}
a.tbt3 {
	background: url(../layout/images/btn_C.png) no-repeat;
}
a.tbt4 {
	background: url(../layout/images/btn_D.png) no-repeat;
}
a.tbt5 {
	background: url(../layout/images/btn_E.png) no-repeat;
}
a.tbt6 {
	background: url(../layout/images/btn_F.png) no-repeat;
}
a:hover.tbt1 {
	background: url(../layout/images/btn_A_on.png) no-repeat;
}
a:hover.tbt2 {
	background: url(../layout/images/btn_B_on.png) no-repeat;
}
a:hover.tbt3 {
	background: url(../layout/images/btn_C_on.png) no-repeat;
}
a:hover.tbt4 {
	background: url(../layout/images/btn_D_on.png) no-repeat;
}
a:hover.tbt5 {
	background: url(../layout/images/btn_E_on.png) no-repeat;
}
a:hover.tbt6 {
	background: url(../layout/images/btn_F_on.png) no-repeat;
}
#roomlayout li {
	display: inline;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
#roomlayout ul {
	list-style-type: none;
	margin: 0 0 0 1em;
	padding: 0;
}
#floor {
	width: 950px;
	height: auto;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	float: left;
}
#floor img {
	display: block;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#kakukai {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	height: 632px;
}
#ritsumen {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 950px;
	height: 1160px;
}
#ritsumen img {
	display: block;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#caution {
	clear: both;
	float: left;
}
#caution ul {
	font-size: x-small;
	margin-top: -10px;
	margin-right: 0;
	margin-left: 1em;
	margin-bottom: 0;
	padding: 0;
}
#elevation {
	width: 950px;
	height: auto;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	float: left;
}
#gallery {
	width: 950px;
	height: auto;
	float: left;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
}
#pers {
	width: 930px;
	margin: 10px;
	height: 426px;
}
#pers img {
	display: block;
	float: left;
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
#photo {
	width: 950px;
	height: 496px;
	float: left;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
}
#gaikan {
	width: 930px;
	margin: 10px;
	height: 213px;
}
#gaikan img {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	display: block;
	float: left;
}
#naikan {
	width: 930px;
	margin: 10px;
	height: 213px;
}
#naikan img {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	display: block;
	float: left;
}
#outline {
	width: 950px;
	height: auto;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	float: left;
}
#outline h3 {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	width: auto;
	text-align: left;
	text-indent: 0px;
}
#gaiyo1 {
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#gaiyo2 {
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#gaiyo3 {
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#gaiyo4 {
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#gaiyo5 {
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.gaiyo {
	width: 950px;
	width: 100%;
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 20px;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-spacing: 0px;
}
table.gaiyo tr th, table.gaiyo tr td {
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	text-align: left;
	font-weight: lighter;
	font-size: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px
}
table.gaiyo tr th {
	background-color: #D0D2D1;
	text-align: left;
}
table.nakashiage {
	width: 950px;
	width: 100%;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-spacing: 0px;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
}
table.nakashiage tr th, table.nakashiage tr td {
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	text-align: left;
	font-weight: lighter;
	font-size: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
table.nakashiage tr th {
	background-color: #D0D2D1;
	text-align: center;
}
.gaiyo caption {
	text-align: left;
}
.nakashiage caption {
	text-align: left;
}
/*cleafix*/
.clearfix {
 *zoom : 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix2 {
 *zoom : 1;
}
.clearfix2:before, .clearfix:after {
	display: table;
	content: " ";
	line-height: 0;
}
.clearfix2:after {
	clear: both;
	padding-top: 1576px;
#eq_title {
}
