@charset "UTF-8";
html {
	/*background-image: url(../images/960_grid_12_col.png);グリッド画像*/
	background-repeat: repeat-y;
	background-position: center top;
}
body {
	background-color: #FFFFFF;
	font-size: small;
	width: 100%;
	margin: 0 auto;
	max-width: 940px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 300px;
}
main {
	width: 98%;
	margin: 0 auto;
	height: auto;
}
body, p, ul, li {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.5em;
	border-collapse: collapse;
}
h1, h2, h2, h3, h5, h6 {
}
a {
	color: #000000;
}
h1 {
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	color: #6EC7E2;/*物件名カラー*/
	text-align: left;
	text-shadow: 1px 2px 2px #727171;/*物件名シャドーカラー*/
	top: 50px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 15px;
	display: block;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
	float: left;
}
h2 {
	font-size: small;
	color: #000000;
	font-weight: lighter;
	line-height: 1.5em;
	margin: 0px;
	width: 100%;
	display: block;
}
article h3 {
	font-style: normal;
	color: #6EC7E2;/*Infoタイトルカラー*/
	font-weight: normal;
	font-size: large;
	display: block;
	margin-top: 0px;
	margin-bottom: 10px;
	width: auto;
	margin-left: 0px;
	margin-right: 0px;
	text-indent: 20px;
}
h3 {
	font-style: normal;
	color: #6EC7E2;/*見出しタイトルカラー*/
	font-weight: normal;
	font-size: large;
	display: block;
	margin-top: 0px;
	margin-bottom: 10px;
	width: auto;
	margin-left: 0px;
	margin-right: 0px;
}
h4 {
	font-style: normal;
	font-size: small;
	font-weight: normal;
}
h5 {
	color: #777777;
	font-weight: bold;
	font-size: medium;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	text-align: left;
	width: 100%;
	height: auto;
	display: block;
}
h6 {
	font-size: small;
	text-align: left;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}
#tyusyaku {
	width: auto;
	text-align: center;
	margin: 0px;
	display: block;
	clear: both;
	font-size: x-small;
}
header {
	width: 100%;
	height: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
}
span {
	color: #009944;
}
/*台湾リンク*/
#headerlink {
	text-align: right;
	width: 100%;
	display: block;
	margin: 0;
}
a.hl:link {
	text-decoration: none;
}
a.hl:hover {
	color: #3080FF;
	text-decoration: underline;
}
/*台湾リンク終了*/
#headerleft {
	float: left;
	width: 70%;
	display: block;
	text-align: left;
	margin: 0px;
	line-height: 50%;
	max-height: 70px;
}
#headerright {
	height: auto;
	width: 30%;
	display: block;
	margin: 0;
	float: right;
}
a.contact {
	background: url(../images/common/btn_contactA.jpg);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 120px;
	height: 60px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	float: left;
}
a.contact:hover {
	background: url(../images/common/btn_contactA_p.jpg);
	display: block;
}
/*ナビケーション*/
#mainmenu {
	list-style-type: none;
	width: 100%;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: auto;
	margin-bottom: 30px;
	padding: 0;
	height: 20px;
	float: left;
}
#mainmenu li {
	position: relative;
	width: 12.5%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}
#mainmenu li a {
	display: block;
	margin: 0;
	padding-top: 9px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 8px;
	background-color: #6EC7E2;/*navカラー*/
	color: #FFFFFF;/*navテキストカラー*/
	font-size: large;
	font-weight: lighter;
	line-height: 1;
	text-decoration: none;
}
#mainmenu li ul {
	list-style: none;
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}
#mainmenu li ul li {
	overflow: hidden;
	width: 100%;
	height: 0;
	color: #fff;
	transition: .2s;
}
#mainmenu li ul li a {
	padding-top: 15px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 13px;
	background-color: #2FAED5;/*ドロップダウンメニュー1カラー*/
	text-align: left;
	font-weight: bold;
	font-size: x-small;
}
#mainmenu > li:hover > a {
	background-color: #2FAED5;/*nav_foverカラー*/
}
#mainmenu > li:hover li:hover > a {
	background-color: #1F809D;/*ドロップダウンメニュー1foverカラー*/
}
#mainmenu li:hover > ul > li {
	overflow: visible;
	height: 38px;
}
#mainmenu li ul li ul {
	top: 0;
	left: 100%;
}
#mainmenu li:last-child ul li ul {
	left: -100%;
	width: 100%;
}
#mainmenu li ul li ul li a {
	background-color: #FFFFFF;/*ドロップダウンメニュー2カラー*/
}
#mainmenu li:hover ul li ul li:hover > a {
	background-color: #FFFFFF;/*ドロップダウンメニュー2hoverカラー*/
}
#mainmenu li ul li ul:before {
	position: absolute;
	content: "";
	top: 13px;
	left: -20px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: #fff;/*左矢印カラー*/
}
#mainmenu li:last-child ul li ul:before {
	position: absolute;
	content: "";
	top: 13px;
	left: 200%;
	margin-left: -20px;
	border: 5px solid transparent;
	border-right-color: #727171;/*右矢印カラー*/
}
/*ナビ終了*/
/*toppage*/
.top {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	height: auto;
	float: left;
}
#topmain {
	float: left;
	margin: 0px;
	width: 66%;
	height: auto;
}
article {
	float: left;
	width: 34%;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#text {
	border: 2px solid #6EC7E2;/*インフォテキストボックス枠カラー*/
	background-color: #C7E9F3;/*インフォテキストボックス地カラー*/
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	max-width: 286px;
	width: 90%;
	display: block;
	float: right;
}
aside {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	padding-top: 10px;
	float: left;
	width: 34%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
a.ban1 {
	background: url(../images/common/ban_support.png);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 234px;
	height: 60px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
	float: none;
}
a.ban1:hover {
	background: url(../images/common/ban_support_p.png);
}
footer {
	width: 100%;
	background-color: #FFFFFF;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	clear: both;
}
#footerleft {
	width: 50%;
	background-color: #FFFFFF;
	display: block;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#footerright {
	width: 50%;
	background-color: #FFFFFF;
	display: block;
	top: 50%;
	left: 50%;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.freecall {
	float: left;
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
}
#footerleft p {
	font-weight: lighter;
	font-size: small;
	line-height: 2em;
	display: block;
}
.gcalogo {
	display: block;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
}
#footerright p {
	font-weight: lighter;
	font-size: small;
	text-align: left;
	line-height: 2em;
	display: block;
}
strong {
	font-size: 1.5em;
}
#copyright {
	font-weight: lighter;
	font-size: x-small;
	clear: both;
	display: block;
	text-align: center;
	width: 100%;
	margin: 0px;
	height: 60px;
}
a.cr:link {
	text-decoration: none;
}
a.cr:hover {
	color: #3080FF;
	text-decoration: underline;
}
/*toppage終了*/
/*designpage*/
#wrapper {
	width: 100%;
	background-repeat: repeat-y;
	background-image: url(../images/common/6517903.jpg);
	overflow: hidden;
	height: auto;
	float: left;
	background-position: center top;
}
#design {
	width: 100%;
	margin: 10px 0px;
	height: auto;
	display: block;
	float: left;
}
#architect {
	font-weight: lighter;
	font-size: small;
	text-indent: 0px;
	color: #000000;
	width: 100%;
	height: auto;
	display: block;
	margin: 10px 0px;
	float: left;
}
#gardendesigner {
	font-weight: lighter;
	font-size: small;
	text-indent: 0px;
	color: #000000;
	width: 100%;
	height: auto;
	display: block;
	margin: 10px 0px;
	float: left;
}
#senshow {
	font-weight: lighter;
	font-size: small;
	text-indent: 0px;
	color: #000000;
	width: 100%;
	height: auto;
	display: block;
	margin: 10px 0px;
	float: left;
}
#designleft {
	width: 30%;
	float: left;
	height: auto;
	margin: 0px;
	display: block;
}
#profilephoto {
	margin: 0px;
	display: block;
	float: left;
	height: auto;
}
dl {
	font-weight: lighter;
	font-size: smaller;
	line-height: 1.3em;
	float: left;
	display: block;
	margin: 5px 0px;
	width: auto;
	height: auto;
}
dt {
	float: left;
	width: 40px;
}
dd {
	margin-left: 50px;
	margin-right: 10px;
}
#prof {
	float: left;
}
#designright {
	width: 70%;
	float: left;
	height: auto;
	margin: 0px;
	display: block;
}
#designcopy {
	margin: 0px;
	width: 100%;
	display: block;
	float: right;
}
#designphoto {
	width: 100%;
	height: auto;
	margin: 0px;
	display: block;
}
#example {
	width: 46%;
	height: auto;
	font-size: smaller;
	display: block;
	margin: 1% 2%;
	float: left;
}
#example a img {
	width: 100%;
	height: auto;
}
/*designpage終了*/
/*conceptpage*/
#concept {
	width: 100%;
	height: auto;
	text-align: center;
	margin: 20px auto;
	display: block;
	float: left;
}
#conceptA {
	width: 100%;
	margin: 0 auto;
	height: auto;
	display: block;
	text-align: center;
}
#conceptphotoA {
	width: 84%;
	height: auto;
	margin: 20px auto;
	text-align: left;
	display: block;
}
#conceptB {
	width: 100%;
	margin: 0 auto;
	height: auto;
	display: block;
	text-align: center;
}
#conceptphotoB {
	width: 84%;
	height: auto;
	margin: 20px auto;
	text-align: center;
	display: block;
}
/*conceptpage終了*/
/*locationpage*/
#location {
	width: 100%;
	margin: 0;
	height: auto;
	float: left;
}
#loca {
	width: 100%;
	height: auto;
	margin: 40px auto;
	display: block;
}
#loca h6 {
	width: 94%;
	height: auto;
	margin: 10px auto;
	display: block;
	text-align: center;
}
/*画像制御*/
#loca_top {
	width: 100%;
	height: auto;
	margin: 0 auto;
	max-width: 680px;
}
#loca_top p {
	text-align: right;
}
#loca img {
 width: 100 %;
	margin: 0 auto;
	display: block;
}
/*大見出し*/
#shinjukuarea {
	color: #777777;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}
#trainmap {
	color: #777777;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}
#trainaccess {
	color: #777777;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}
#widearea {
	color: #777777;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}
#neermap {
	color: #777777;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
	float: left;
}
#li {
	color: #777777;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}
#tat1 {
	width: 100%;
	height: auto;
	margin: 0 auto;
	display: block;
}
#ta {
	margin: 20px auto;
	width: 60%;
	line-height: 2em;
	border-collapse: collapse;
}
#ta tr {
	text-align: left;
}
#ta tr th {
	border: 1px solid #A2A2A2;
}
#ta tr td {
	border: 1px solid #A2A2A2;
}
#LIhyou {
	width: 70%;
	height: auto;
	margin: 0 auto;
	display: block;
	float: none;
}
#LIhyou p {
	font-size: x-small;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: right;
}
#LItext {
	text-align: left;
	font-size: small;
	width: 50%;
	display: table;
	margin: 0px;
	height: auto;
	float: left;
	line-height: 2em;
	border-style: none;
}
/*locationpage終了*/
/*equipmentpage*/
#equipment {
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	float: left;
}
#equipment h6 {
	width: 100%;
	margin: 10px auto;
	height: auto;
	display: block;
	text-align: center;
	float: left;
}
#roof_greening {
	width: 100%;
	height: auto;
	margin: 20px auto 20px;
	display: block;
	float: left;
}
#amenity {
	display: block;
	width: 100%;
	height: auto;
	margin: 20px auto;
	color: #777777;
	font-weight: bold;
	font-size: medium;
	text-align: center;
	border-bottom: thin solid #000000;
	float: left;
}
#equip {
	display: block;
	width: 100%;
	height: auto;
	margin: 20px auto;
	color: #777777;
	font-weight: bold;
	font-size: medium;
	text-align: center;
	border-bottom: thin solid #000000;
	float: left;
}
#rg {
	display: block;
	width: 100%;
	height: auto;
	margin: 20px auto;
	color: #777777;
	font-weight: bold;
	font-size: medium;
	text-align: center;
	border-bottom: thin solid #000000;
	float: left;
}
#eq_block {
	width: 33%;
	font-size: x-small;
	float: left;
	margin: 0px 0px 10px;
	display: block;
	height: auto;
}
#eq_block h5 {
	width: 100%;
	height: auto;
	margin: 0px;
	display: block;
}
#eq_block p {
	width: 80%;
	margin: 0 auto;
	display: block;
	min-height: 100px;
}
#eq_block img {
	margin: 10px auto;
	display: block;
}
#rg_block {
	width: 90%;
	margin: 0 auto;
	display: block;
	height: auto;
	clear: both;
}
#rg_block p {
	width: 50%;
	height: auto;
	display: block;
	margin: 10px 0 10px;
	text-align: left;
	font-size: x-small;
}
#rg_img {
	margin: 0;
	width: 45%;
	height: auto;
	display: block;
	float: right;
}
#rg_img img {
	display: block;
	margin: 10px auto;
}
/*equipmentpage終了*/
/*layoutpage*/
.hover {
	background-color: rgba(110,199,226,0.50);
}
#type {
	width: 100%;
	height: auto;
	margin: 10px auto;
	float: left;
	display: block;
}
#lo {
	border-bottom: thin solid #21546D;
}
#roomlayout {
	width: 30%;
	height: auto;
	margin: 0;
	display: block;
	float: left;
	padding: 0;
}
#roomlayout li {
	width: 90%;
	display: block;
	margin: 20px auto;
	list-style-type: none;
	border: medium solid #2FAED5;
	border-radius: 10px;
	height: auto;
}
#roomlayout li a {
	text-decoration: none;
	text-align: center;
	line-height: 21px;
	width: 95%;
	height: auto;
	margin: 0;
	padding: 10px;
	display: block;
	font-size: x-small;
}
li a strong {
	font-size: large;
}
#trkg {
	width: 70%;
	margin: 0;
	height: auto;
	float: left;
}
#torikago {
	margin: 20px auto;
	float: none;
	display: table;
	width: 80%;
}

#torikago table {
	width: 100%;
	margin: auto;
	display: table;
}
#torikago table tr {
	text-align: center;
	height: 5em;
}
#torikago table th td {
	display: table-cell;
	border-collapse: separate;
}
#torikago table th {
	width: 10%;
	border: thin solid #777777;
	background-color: #C5C5C5;
}
#torikago table td {
	width: 18%;
	border: thin solid #777777;
	display: table-cell;
}
#torikago table tr .ws {
	border: thin solid #777777;
	empty-cells: hide;
}
#kakai {
	background-color: #C5C5C5;
}
#floor {
	width: 100%;
	height: auto;
	margin: 10px auto;
	float: left;
}
#fp {
	border-bottom: thin solid #21546D;
}
#kakukai {
	width: 100%;
	height: auto;
	margin: 10px auto;
	float: left;
}
#kakukai img {
	margin: 20px 30px;
	display: block;
	width: auto;
	height: auto;
	max-width: 400px;
	float: left;
}
#kakukaiheisyo {
	width: 100%;
	margin: 0 auto;
	height: auto;
	display: block;
	float: left;
	padding: 0;
	list-style-type: none;
}
#elevation {
	width: 100%;
	height: auto;
	margin: 10px auto;
	float: left;
}
#ep {
	border-bottom: thin solid #21546D;
}
#ritsumen {
	width: 100%;
	margin: 10px auto;
	height: auto;
	float: left;
}
#ritsumenzu {
	margin: 0 auto;
	width: 100%;
	height: auto;
	display: block;
	padding: 0;
	float: left;
	list-style-type: none;
}
#ritsumenzu img {
	width: auto;
	margin: 0 auto;
	float: left;
}
#caution {
	width: 80%;
	margin: 0 auto;
	height: auto;
	float: left;
}
#caution ul {
	font-size: x-small;
	margin-top: -10px;
	margin-right: 0;
	margin-left: 1em;
	margin-bottom: 0;
	padding: 0;
}
/*layoutpage終了*/
/*gallerypage*/
#gallery {
	width: 100%;
	height: auto;
	float: left;
	margin: 40px auto 10px;
}
#dp {
	border-bottom: thin solid #21546D;
}
#pers {
	width: 100%;
	height: auto;
	margin: 10px auto;
	display: -webkit-box;
	display: -moz-box;
	display: -o-box;
	display: box;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	box-pack: center;
}
#ps_ext {
	margin: 10px;
	height: auto;
}
#ps_ext a img {
	width: 100%;
	height: auto;
	margin: 0;
}
#persphoto {
	height: auto;
	font-size: smaller;
	margin: 10px;
}
#persphoto a img {
	width: 100%;
	height: auto;
	margin: 0;
}
#photo {
	width: 100%;
	height: auto;
	float: left;
	margin: 20px auto 0px;
}
#ext {
	border-bottom: thin solid #21546D;
}
#int {
	border-bottom: thin solid #21546D;
}
#gl_photo {
	width: 100%;
	margin: 10px auto;
	height: auto;
	float: left;
	display: block;
}
#gl_photo img {
	display: block;
	float: left;
	margin-top: 13px;
	margin-right: 13px;
	margin-bottom: 13px;
	margin-left: 13px;
	width: 22%;
	height: auto;
}
/*gallerypage終了*/
/*outlinepage*/
#outline {
	width: 100%;
	height: auto;
	margin: 20px auto;
	float: left;
}
#gaiyo1 {
	display: block;
	margin: 10px 0px 0px;
}
#gaiyo2 {
	display: block;
	margin: 10px 0px 0px;
}
#gaiyo3 {
	display: block;
	margin: 10px 0px 0px;
}
#gaiyo4 {
	display: block;
	margin: 10px 0px 0px;
}
#gaiyo5 {
	display: block;
	margin: 10px 0px 0px;
}
.gaiyo {
	width: 100%;
	height: auto;
	margin: 5px 0px 20px;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-spacing: 0px;
}
table.gaiyo tr th, table.gaiyo tr td {
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	text-align: left;
	font-weight: lighter;
	font-size: 10px;
	padding: 5px
}
table.gaiyo tr th {
	background-color: #C7E9F3;/*概要項目地色*/
	text-align: left;
}
table.nakashiage {
	width: 100%;
	height: auto;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-spacing: 0px;
	margin: 5px 0px 20px;
}
table.nakashiage tr th, table.nakashiage tr td {
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	text-align: left;
	font-weight: lighter;
	font-size: 10px;
	padding: 5px;
}
table.nakashiage tr th {
	background-color: #C7E9F3;/*仕上表項目地色*/
	text-align: center;
}
.gaiyo caption {
	text-align: left;
}
.nakashiage caption {
	text-align: left;
}
/*outlinepage終了*/
/*contactpage*/
#contact {
	width: 100%;
	height: auto;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	display: block;
	float: left;
}
#contact1 {
	border: medium solid #000000;
	width: 80%;
	margin: 20px auto;
	height: auto;
	display: block;
	clear: both;
	border-radius: 10px;
}
#contact1 h4 {
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	line-height: 1.5em;
}
table caption strong {
	font-size: small;
	font-weight: normal;
	color: #FF0004;
}
table tr td strong {
	font-size: small;
	font-weight: normal;
	color: #FF0004;
}
#formcolumn {
	margin: 0 auto;
	width: 80%;
	height: auto;
	display: block;
}
#nyuryoku {
	width: 100%;
	margin: 0 auto;
	height: auto;
	border: thin solid #999999;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	text-align: center;
}
#nyuryoku tr th td {
	width: 100%;
}
#nyuryoku tr th {
	width: 20%;
	text-align: left;
	font-weight: normal;
}
#nyuryoku tr td {
	width: 88%;
	text-align: left;
}
#hissu {
	color: #FF0004;
	font-weight: normal;
	font-size: small;
}
#nyuryoku tr td input {
	width: 70%;
}
#nyuryoku tr td textarea {
	width: 90%;
	height: 100px;
}
#tratki {
	margin: 20px 0px;
	width: 100%;
	float: left;
	display: block;
	padding: 10px;
	border: medium solid #000000;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
#toriatsukai {
	margin: auto;
	display: block;
	font-size: medium;
	width: 100%;
	height: auto;
	float: none;
}
#toriatsukai p {
	color: #1A00E7;
	font-size: small;
	font-weight: bold;
}
#toriatsukai dl {
	width: 100%;
}
#toriatsukai dl dt {
	width: 100%;
}
#label {
	margin: 0;
	display: block;
}
#label p {
	text-align: center;
}
/*contactpage終了*/

/*cleafix*/
.clearfix {
 *zoom : 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix2 {
 *zoom : 1;
}
.clearfix2:before, .clearfix:after {
	display: table;
	content: " ";
	line-height: 0;
}
.clearfix2:after {
	clear: both;
}
#nyuryoku caption {
	width: 100%;
	text-align: center;
}


@media screen and (max-width: 1030px) {
body {
	width: 98%;
	height: auto;
	margin-top: 10px;
}
header {
	border-bottom: thin solid #000000;
	margin-top: 20px;
}
#headerleft {
	width: 75%;
}
#headerright {
	width: 25%;
}
#text {
	width: 86%;
}
a.ban1 {
	float: right;
	margin: 5px 0px;
}
#footerleft {
	width: 55%;
}
#footerright {
	width: 45%;
}
#footerleft p {
	font-size: 90%;
}
#footerright p {
	font-size: 90%;
}
#tat1 {
 width: 100 %;
}
#oneroom {
	border-bottom-style: none;
}
#equipment h6 {
	font-size: small;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	text-align: center;
}
#lo {
	border-bottom-style: none;
}
#dp {
	border-bottom-style: none;
}
#gl_photo img {
	width: 21%;
	margin-top: 20px;
	margin-right: 14px;
	margin-left: 14px;
	margin-bottom: 20px;
	height: auto;
}
}

@media screen and (max-width: 840px) {
#tat1 table {
	width: 90%;
}
#LIhyou {
	width: 90%;
}
#roomlayout {
	margin: 0 auto;
	width: 100%;
	float: left;
}
#roomlayout li {
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 40%;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
#trkg {
	margin: 0 autp;
	width: 100%;
	float: none;
}
#kakukai img {
	margin: 10px 5px;
	display: block;
	width: auto;
	height: auto;
	max-width: 350px;
	float: left;
}
#ritsumen img {
	width: 50%;
}
#caution {
	margin: 0 auto;
	float: none;
}
}

@media screen and (max-width: 740px) {
h2 {
	font-size: smaller;
}
#headerleft {
	width: 100%;
	line-height: 50%;
	height: 90px;
}
#headerleft p {
	font-size: smaller;
}
#headerright {
	width: 100%;
	margin-bottom: 10px;
	float: left;
}
#topmain {
	margin: 10px auto 30px;
	width: 100%;
}
article {
	width: 45%;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
aside {
	width: 55%;
	float: right;
	margin-top: 24px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
a.contact2 {
	float: right;
	margin: 5px 0px;
}
footer {
	margin: 20px 0px;
	float: left;
}
footer a {
	text-decoration: none;
}
#footerleft {
	width: 85%;
	margin: 0 auto;
	float: none;
}
#footerleft p {
	text-decoration: none;
	text-align: center;
}
#footerright {
	margin: 0 auto;
	width: 85%;
	float: none;
}
#footerright p {
	text-align: center;
}
#conceptphotoA {
	margin: 0 auto;
	width: 80%;
}
#conceptphotoA #example {
	margin: 10px auto;
	width: 95%;
	float: none;
}
#conceptphotoB {
	margin: 0 auto;
	width: 80%;
}
#conceptphotoB #example {
	margin: 10px auto;
	width: 95%;
	float: none;
}
.concept1 section p {
	letter-spacing: -0.1em;
}
.concept2 section p {
	letter-spacing: -0.1em;
}
#widearea {
	letter-spacing: -0.1em;
}
#loca img {
	width: 100%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	height: auto;
}
#tat1 {
	margin: 10px auto;
	width: 100%;
	display: block;
	height: auto;
}
#LItext {
	width: 100%;
	display: table;
	text-align: center;
	font-size: small;
	height: auto;
}
#ft_right {
	width: 100%;
}
#ft_left {
	width: 100%;
}
#focus h6 {
	width: 100%;
	text-align: center;
}
#fc_block {
	width: 100%;
}
#focus p {
	width: 100%;
	text-align: center;
}
#fc_img {
	width: 100%;
}
#equip {
	padding-top: 10px;
	padding-bottom: 10px;
}
#eq_block {
	width: 100%;
	float: none;
}
#eq_block p {
	text-align: center;
}
#eq_block img {
	width: 80%;
	float: none;
	min-height: 0px;
}
#roomlayout1 {
	width: 100%;
}
#kaisu li p {
	display: table-cell;
	vertical-align: middle;
	font-size: small;
}
#roomlayout {
	padding: 0;
}
#roomlayout li {
	padding: 0;
	width: 90%;
}
#kakukaiheisyo img {
	width: 100%;
	margin: 0 auto;
	float: none;
}
#ritsumenzu img {
	width: 100%;
	margin: 0 auto;
	float: none;
}
#ps_ext {
	width: 70%;
	margin: 0 auto;
	height: auto;
	display: block;
	float: left;
}
#pers {
	float: left;
	margin: 0;
	width: 98%;
	display: block;
}
#ps_ext {
	width: 70%;
	margin: 10px auto;
	float: none;
	display: block;
	height: auto;
}
#persphoto {
	width: 70%;
	margin: 10px auto;
	float: none;
	display: block;
	height: auto;
}
#gl_photo img {
	width: 70%;
	margin: 10px auto;
	float: none;
	display: block;
	height: auto;
}
.gaiyo tr th {
	width: 28%;
}
#kojinjyoho {
	width: 95%;
}
#otoiawase {
	width: 89%;
}
#contact1 {
	width: 95%;
}
#formcolumn {
	width: 95%;
}
}

@media screen and (max-width: 380px) {
h1 {
	font-size: 1.5em;
	text-align: center;
}
#headerleft {
	width: 100%;
	line-height: 100%;
	text-align: center;
}
#headerleft p {
	font-size: smaller;
}
#headerright {
	width: 100%;
	margin-bottom: 10px;
	margin-top: 20px;
}
#topmain {
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	width: 100%;
}
article {
	width: 90%;
	margin: 10px auto;
	float: none;
	display: block;
}
article h3 {
	text-indent: 0px;
}
#text {
	margin: 0 auto;
	float: none;
}
aside {
	width: 100%;
	margin: 0 auto;
}
a.ban1 {
	margin: 0 auto;
	float: none;
}
footer a {
	text-decoration: none;
}
#footerleft {
 width: 100 %;
	margin: 0 auto;
	width: 100%;
	float: none;
}
.gcalogo {
	padding: 0;
	margin-top: -20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	float: none;
}
#footerleft p {
	text-decoration: none;
	text-align: center;
	float: left;
	width: 100%;
}
#footerright {
	margin: 0 auto;
	width: 100%;
	float: none;
}
.freecall {
	padding: 0;
	margin-top: -20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	float: none;
}
#footerright p {
	text-decoration: none;
	text-align: center;
	float: left;
	width: 100%;
}
#designleft {
	width: 100%;
	height: auto;
}
#prof {
	width: 100%;
}
#designright {
	width: 100%;
}
#conceptphotoA {
	margin: 0;
	width: 100%;
}
#conceptphotoA #example {
	margin: 10px auto;
	width: 95%;
	float: none;
}
#conceptphotoB {
	margin: 0;
	width: 100%;
}
#conceptphotoB #example {
	margin: 10px auto;
	width: 95%;
	float: none;
}
#LItext {
	font-size: 0.9em;
}
#ft_block img {
	width: 90%;
}
#ft3 table {
	width: 100%;
}
#eq_block img {
	width: 90%;
	float: none;
	min-height: 0px;
}
#caution {
	width: 90%;
}
}
