@charset "euc-jp";

input.ime_off,
input.ime_on,
select,
textarea { padding:3px; margin:2px 0 ; border:1px solid #c9c9c9; font-size:12px; }

#formEnd { margin-top:15px; text-align:center }


.hissu,
.ninni { padding-left:40px; margin:2px 0; }
.hissu { background:url(../contact/images/hissu.gif) no-repeat; }
.ninni { background:url(../contact/images/ninni.gif) no-repeat; }

.w90per { width:90%; }
.w50per { width:50%; }

.pList { border:3px double #ccc; padding:5px 10px 10px; margin:15px 20px 0; background:#eee; }
.pList li { padding:5px; }

body.contact #contents form td { padding:5px 8px; }