@charset "euc-jp";

* { background:none !important; border:none !important; padding:0 !important; height:auto !important; width:auto !important; float:none !important; text-align:left; color:#000 !important; }
img { padding:0 0 15px !important; }

h1,h2,h3,h4,h5,
#header,
#gNav,
#fNav,
.txt,
.printNone,
.page-up,
#fBnr,
#footer,
table { display:none; height:0; }
