@charset "euc-jp";



/* flashArea */
#flashArea { padding:0 0 9px; text-align:center; }




/* program */
body.top #bg_nProgram { width:366px; margin:0 0 9px; border-bottom:1px solid #d0d0d0; font-size:10px; }
body.top #nProgram { width:356px; padding-left:10px; height:113px; overflow:auto; }
body.top #nProgram th { text-align:left; padding:5px 5px 5px 15px; color:#ff7200; vertical-align:top; background:url(../images/bg_nProgram.gif) left 5px no-repeat; border-bottom:1px dotted #b6afaa; }
body.top #nProgram td { padding:5px 5px 5px; border-bottom:1px dotted #b6afaa; }
body.top #nProgram a { color:#717171; text-decoration:underline; }
body.top #nProgram a:hover { color:#c40026; text-decoration:none; }




#leftBox { border:1px solid #d0d0d0; float:left; width:223px; padding:5px 0 0; }
#rightBox { width:366px; float:right; }


#leftBox h3 { text-align:center; }
#leftBox form { border:solid #43a700; border-width:0 1px 1px; background:url(../images/bg_searchBox.gif) repeat-x #d0eca8; width:213px; margin:0 auto 6px; padding-bottom:4px; }
#leftBox form h4 { padding:3px 0 3px 7px; }
#leftBox form select { margin:0 0 0 7px; width:200px; }
#leftBox form input { margin:5px 0 0 58px; }

#leftBox p { padding:0 0 6px; text-align:center; }



body.top #useful li { position:relative; }
body.top #useful li span { position: absolute; top:28px; left:92px; color:#818181; font-size:10px; padding-right:30px; text-align:left; }
body.top #useful li.nav_01 span { top:33px; }


#osusume { border:solid #eaeaea; border-width:0 1px 1px; font-size:10px; padding:0 13px 0; }
#osusume h4 { background:url(../images/bg_name.gif) 6px 5px no-repeat; padding:4px 5px 3px 20px; margin-top:10px; font-size:10px; color:#43a700; border:1px solid #3f9f00; }
#osusume .date { background:url(../images/bg_date.gif) repeat-y #4ab91c; color:#fff; padding:1px 10px; }
#osusume .photo { background:url(../images/bg_photo_top.gif) no-repeat; width:105px; padding:3px 4px 5px 3px; }
#osusume .bg_photo { background:url(../images/bg_photo_btm.gif) left bottom no-repeat; width:112px; }
#osusume .bg2_photo { background:url(../images/bg_photo_mdl.gif) repeat-y; width:112px; margin:0 8px 0 0; }
#osusume table { margin:8px 0 0; }
#osusume table dt { background:url(../images/bg_point.gif) repeat-x; }
#osusume table dd { color:#000; padding:3px 3px 4px; }
#osusume table dd strong { color:#fc7400; }
#osusume p { padding:5px 0 0; }
#osusume .btn { text-align:right; padding:5px 0 7px; border-bottom:1px dotted #474747; }
#osusume .btn2 { text-align:right; padding:5px 0 7px; }

