﻿@charset "utf-8";
/* CSS Document */
* {
	padding: 0px;
	line-height: 1;
	letter-spacing: 0;
	font-size: 10px;
	color: #000;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
	margin: 0px;
	border-width: 0px;
}
body {
	margin: 10px;
	padding: 0px;
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', sans-serif;
	color: #000;
	text-align: center;
	margin: 10px;
	padding: 0px;
}
img {
	border: none;
	vertical-align: top;
}
section img {
	float: none;
	clear: none;
	margin-right: 10px;
}
.textbox {
	background: #BFC0C0;
	height: auto;
	clear: both;
	margin: 5px;
}
.textbox * {
	padding: 0px;
	margin: 0px;
}
.text {
	line-height: 1.8em;
}
img.left {
	float: left;
	margin-left: 0.8em;
	margin-right: 1em;
}
.information {
	margin-left: 20px;
}
.oya { /* 親要素に対する指定 */
	text-align: left; /* 位置 */
}
.box { /* ボックスの指定 */
	width: 610px; /* ボックスの横幅 */
	height: 200px; /* ボックスの高さ */
	margin: 0px 5px 5px 0px; /* 上・右・下・左のマージン(外側余白) */
	padding: 5px 5px 5px 5px; /* 上・右・下・左のマージン(内側余白) */
	text-align: left; /* 左寄せ */
	font-size: 16px;
	color: #000;
	font-family: "メイリオ";
	background-color: #9FCAE2; /* 背景色 */
	border: 5px solid #0066CC; /* 枠線（太さ・色・スタイル） */
}
/******************/
/* リストボックス */
/******************/

.list-2column_b .textbox, /* 薄い色 */
.textbox .textbox {
	background: #00C5D4;
	min-height: 55px;
	width: 260px;
	clear: none;
	display: inline;
	float: left;
}
.list_2column, .list-2column_b {
	clear: both;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 12px;
	text-align: left;
}
.list_2column li, .list-2column_b li {
	display: inherit;
	margin: 15px 10px 15px 10px;
	float: left;
	width: 450px;
	position: relative;
	padding: 5px;
}
/* メイン色 */
.list-2column_b li {
	/* [disabled]background-color: #00ADA9;
*/
}
.list-2-2column .2-1 {
	width: 110px;
	position: relative;
	padding: 0;
	margin: 5px;
}
.list-2-2column .2-2 {
	width: 60%;
	position: relative;
	padding: 0px;
}
#contents {
	background: #FFF;
	border: medium solid #595F5F;
	padding: 10px;
}
#contents_top {
	background: #FFFFFF;
	border: medium solid #FFFFFF;
	padding: 0px;
}
section {
	clear: right;
}
#header {
	width: 100%;
	height: auto;
	min-height: 60px;
	padding-top: 8px;
	text-align: center;
	background: #FFF;
}
.right {
	float: right;
	width: 495px;
}
#g_navi {
	text-align: left;
	width: 100%;
	clear: both;
	padding: 0px;
	height: auto !important;
}
#g_navi ol {
	min-height: 38px;
	height: auto !important;
	height: 38px;
}
#top {
	background: url(../../toyotho/images/top/top_bg.jpg) center top;
	text-align: center;
	margin: 0px;
	padding: 8px 0px;
}
/* layout */

#main {
	background: url(../../toyotho/images/common/bg_main1.png) repeat-x left top;
	margin: 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 15px;
}
#main_spec {
	background: url(../../toyotho/images/common/bg_main.png) repeat-x left top;
	margin: 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 15px;
}
.wrapper {
	width: 995px;
	padding: 0px;
	margin: 0px auto 0px;
	text-align: left;
}
.left {
	float: left;
	display: block;
	width: 495px;
	height: 50px;
}
#g_navi li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
h1, h2 {
	display: inline;
	width: auto;
}
/***********************/
/* リストボックス　　　*/
/***********************/

.list-2-2column_b .left {
	width: 160px;
	padding: 0px;
	margin: 0px 10px 0px 0px;
}
.list-2-2column_b .right {
	width: 260px;
	margin: 0px;
	padding: 0px;
}
.list-2-2column .left {
	width: 186px;
	padding: 0px;
	margin: 0px 10px 10px 0px;
}
.list-2-2column .right {
	width: 180px;
	margin: 0px;
	padding: 0px;
}
.middle .list_2column li {
	width: 380px;
}
.middle .list_2column li .textbox {
	height: 150px;
	margin: 10px auto;
}
.middle .list_2column li .list_2_2column .left {
	width: 136px;
	margin: 0px;
	padding: 0px;
}
.middle .list_2column li .list_2_2column .right {
	width: 230px;
	margin: 0px 0px 0px 10px;
	padding: 0px;
}
.middle .list_2column li .list_2_2column .right .textbox {
	height: 70px;
}
.btn {
	float: right;
}
#go_head {
	padding: 5px;
	border-style: solid;
	clear: both;
	border-width: 1px;
	font-size: 12px;
	text-align: right;
}
.textbox p {
	line-height: 1.6;
}
#footer {
	background: url(../../toyotho/images/common/foot_line1.png) repeat-x left top;
	padding: 15px;
}
#footer_right ol li a, #footer_info, #footer_info a {
	font-size: 11px;
	color: #FFF;
	line-height: 1.4;
}
#footer_left {
	float: left;
	margin: 0px 20px 10px 0px;
	list-style-type: none;
}
#info_left {
	float: left;
	margin: 0px 30px 10px 0px;
	list-style-type: none;
}
.clr {
	clear: both;
}
.hide {
	display: none;
}
#footer_right {
	margin: 2px 0px 10px 0px;
	list-style-type: none;
}
#footer_right ol li {
	margin: 2px 0px 10px 0px;
	list-style: none;
}
#footer_right ol {
	float: left;
	font-size: 12px;
}
#footer_right div {
	margin: 5px;
	padding: 2px 5px;
}
#footer_right div img {
	margin: 30px 5px 0px 30px;
}
.list-2-2column_b .right .textbox {
	margin-bottom: 5px;
}
h3 {
	line-height: normal;
	font-size: large;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-align: left;
	font-weight: lighter;
	font-style: normal;
	font-variant: normal;
}
.headline {
	margin: 5px auto 10px;
}
#testbox_01 {
	height: 280px;
	width: 390px;
}
#testbox_01 p {
	font-size: 12px;
	line-height: 1.5em;
}
.img_box * {
	line-height: 1.5em;
	margin: 3px 20px 4px;
}
.list_1column {
	padding: 10px;
}
.list_1column * {
	margin: 10px auto;
	text-align: center;
}
.list_1column .textbox {
	height: 40px;
	width: auto;
}
#main_spec .tab {
	margin: 0px auto;
	width: 850px;
}
#main_spec .tab img {
	float: right;
	margin: 0px 0px 0px 5px;
}
.clr {
	clear: both;
}
.middle {
	padding: 0px 11px;
	margin: 20px 0px;
}
/****************************/
/*        spec              */
/****************************/
.spec01_2column .left .textbox {
	height: 70px;
	width: 460px;
	margin: 10px 0px;
}
.spec01_2column .left img {
	float: none;
}
.spec01_2column {
	margin: 30px 0px 10px;
}
.list_1_2column li img {
	float: left;
}
.list_1column .list_1_2column .left {
	width: 180px;
}
.middle .list_1column .list_1_2column .right {
	width: 600px;
}
.middle .list_1column .list_1_2column {
	clear: both;
}
.list_1column .list_1_2column .right .textbox {
	height: 100px;
}
.list_2column .center {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
/*about*/
.about_box {
	text-align: left;
	margin-bottom: 12px;
}
.about_info {
	color: #555;
	font-weight: bold;
	margin-bottom: 4px;
}
.about_cell_01b {
	background: #B8C8C8;
	font-weight: bold;
	color: #fff;
	text-shadow: 1px 1px #333;
}
.about_table_01 {
	width: 100%;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
}
.about_table_01 td {
	padding: 6px 0 6px 12px;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	line-height: 1.5;
}
.about_table_01 th {
	padding: 6px 0 6px 12px;
	text-align: left;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	background: #B9C9C8 url(../../toyotho/images/about/th1.gif) repeat-x left top;
	color: #fff;
}
/*about*/

.gray {
	background: #eee;
}
/*contact*/

.contact_privacy_01 {
	margin: 0 30px 24px 0;
	text-align: left;
	line-height: 1.5;
	color: #555;
	width: 468px;
	font-size: 14px;
	float: left;
	display: inline;
	padding: 8px;
}
.contact_privacy_02 {
	margin-right: 35px;
	text-align: left;
	line-height: 1.5;
	color: #555;
	width: 225px;
	font-size: 14px;
	float: right;
	display: inline;
	border: 1px solid #000000;
	padding: 8px;
}
.contact_privacy_01 a {
	text-decoration: underline;
	font-size: 14px;
}
#contact_table {
	margin: 0 auto 0;
	width: 600px;
}
#contact_table input {
	border: 1px solid #CCC;
}
.contact_cell_01 {
	width: 22%;
	padding: 6px 0 4px 12px;
	color: #555;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	line-height: 1.5;
}
.contact_cell_02 {
	width: 39%;
	padding: 6px 0 4px 12px;
	color: #555;
	line-height: 1.8;
	text-align: left;
	font-size: 12px;
	vertical-align: top;
}
.contact_cell_03 {
	padding: 6px 0 4px 12px;
	color: #555;
	text-align: left;
	vertical-align: top;
	font-size: 12px;
	line-height: 1.5;
}
.contact_cell_04 {
	padding: 6px 0 4px 12px;
	color: #555;
	line-height: 1.5;
	text-align: left;
	font-size: 12px;
	line-height: 1.5;
}
.contact_cell_05 {
	width: 78%;
	padding: 6px 0 4px 12px;
	color: #555;
	line-height: 1.8;
	text-align: left;
	font-size: 12px;
	vertical-align: top;
}
.contact_cell_b {
	padding: 4px 0 4px 12px;
	border-bottom: 1px dotted #555;
}
.contact_form_01 {
	width: 80%;
	line-height: 1.5;
	height: 16px;
	font-size: 12px;
}
.contact_form_02 {
	width: 65%;
	line-height: 1.5;
	height: 16px;
	font-size: 12px;
}
.contact_form_03 {
	width: 13em;
	line-height: 1.5;
	height: 16px;
	font-size: 12px;
}
#pref2,  #zip,  textarea, .contact_cell_04 #pref2, .contact_cell_04 #zip,  .contact_cell_04 textarea,  #contact_box select {
	height: 20px;
	width: 100px;
	border: 1px solid #CCC;
}
#contact_box select {
	height: 30px;
	font-size: 15px;
}
#contact_box textarea {
	font-size: 20px;
	height: 100px;
	width: 500px;
	border: 1px solid #CCC;
	text-align: left;
}
#contact_box th {
	font-size: 14px;
	text-align: left;
	margin: 10px;
	width: 200px;
}
#contact_box input {
	height: 30px;
	border: 1px solid #CCC;
	text-align: left;
	font-size: 20px;
}
#contact_box td {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
#inquiry .step_btn {
	height: auto;
	width: auto;
}
#contact_box_done td, #contact_box_confirm td, #contact_box_confirm h2, #contact_box_confirm p {
	font-size: 18px;
}
.list_1column .textbox p {
	text-align: left;
}
.list_1column #oyomikudasai {
	height: auto;
}
section .textTitle {
	margin-left: 1px;
	margin-top: 3px;
}
.list-2column_b .2row {
	height: 300px;
	padding-left: 15px;
	padding-bottom: 10px;
}
.textbox .spec_textbox {
	height: 85px;
}
.textbox_2 {
	width: 385px;
	background: #D35B37;
	margin: 10px 0px;
}
.left h1 {
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	color: #21546D;/*物件名カラー*/
	text-align: left;
	text-shadow: 1px 2px 2px #727171;/*物件名シャドーrrカラー*/
	top: 50px;
	vertical-align: middle;
	margin: 0px;
	display: block;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.right a img {
	margin-left: 147px;
}
