@charset "utf-8";

/* Reset
------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	max-width: 100%;
	height: auto;
	line-height: 1;
}

/* Basic Styles
------------------------------------------------------------------------- */
body {
	background: #fff;
	color: #333;
	/*-webkit-font-smoothing: antialiased;*/
	-webkit-text-size-adjust: none;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 14px;
}

/* Typography
------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { font-weight: normal; line-height: 1.4;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 28px; }
h4 { font-size: 21px; }
h5 { font-size: 17px; }
h6 { font-size: 14px; }
p { margin: 0; line-height: 1;}
p img { margin: 0; }
em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }
blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "¥2014 ¥0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* Links
------------------------------------------------------------------------- */
a, a:visited {
	color: #930;
	text-decoration: none;
	outline: 0;
}
a:hover, a:focus {
	color: #000;
}
p a, p a:visited {
	line-height: inherit;
}

/* Forms
------------------------------------------------------------------------- */
input[type="text"], 
input[type="password"],
input[type="email"],
textarea, 
select {
	border: 1px solid #ccc;
	outline: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow:1px 1px 0 #fff, inset 1px 1px 0 #fff;
	-webkit-box-shadow:1px 1px 0 #fff, inset 1px 1px 0 #fff;
	box-shadow:1px 1px 0 #fff, inset 1px 1px 0 #eee;
	font-size: 14px;
	margin: 0;
	max-width: 100%;
	background: #fff;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
	border: 1px solid #aaa;
 	color: #444;
 	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow: 0 0 3px rgba(0,0,0,.2);
}
label,legend { 
	display: block;
	font-weight: bold;
	font-size: 13px;
}
input[type="checkbox"] {
	display: inline;
}
button {
	cursor:pointer;
}
