@charset "UTF-8";
html {
	/*background-image: url(../images/960_grid_12_col.png);グリッド画像*/
	background-repeat: repeat-y;
	background-position: center top;
}
body {
	/*background-color: #FFFFFF;*/
	font-size: small;
	width: 100%;
	margin: 0 auto;
	max-width: 940px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 460px;
}
main {
	width: 98%;
	margin: 0 auto;
	height: auto;
}
body, p, ul, li {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.5em;
}
h1, h2, h2, h3, h5, h6 {
}
a {
	color: #000000;
}
h1 {
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
	color: #21546D;/*物件名カラー*/
	text-align: left;
	text-shadow: 1px 2px 2px #727171;/*物件名シャドーrrカラー*/
	top: 50px;
	vertical-align: middle;
	margin: 0px;
	display: block;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
h2 {
	font-size: smaller;
	color: #000000;
	font-weight: lighter;
	line-height: 1.5em;
	margin: 0px;
	display: block;
}
h3 {
	font-style: normal;
	color: #21546D;/*Infoタイトルカラー*/
	font-weight: normal;
	font-size: large;
	display: block;
	margin-top: 0px;
	margin-bottom: 10px;
	width: auto;
	margin-left: 0px;
	margin-right: 0px;
}
h4 {
	font-style: normal;
	font-size: small;
	font-weight: normal;
}
h5 {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	text-align: left;
	width: 100%;
	height: auto;
	display: block;
}
h6 {
	font-size: small;
	text-align: left;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 10px;
}
#tyusyaku {
	width: auto;
	text-align: right;
	margin: 0px;
	display: block;
	clear: both;
	font-size: x-small;
}
header {
	width: 100%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 0px;
	float: left;
}
span {
	color: #009944;
}
#headerleft {
	float: left;
	width: 35%;
	height: 70px;
	display: block;
	text-align: left;
	margin: 0px;
	min-width: 300px;
}
#headermiddle {
	float: left;
	height: auto;
	width: 35%;
	display: block;
	margin-bottom: 10px;
	min-width: 300px;
}
#headermiddle p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: x-small;
}
#headerright {
	height: 60px;
	float: left;
	width: 30%;
	display: block;
	min-width: 234px;
}
a.contact {
	background: url(../images/common/btn_contact.png);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	width: 234px;
	height: 60px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0px;
	float: left;
}
a.contact:hover {
	background: url(../images/common/btn_contact_p.png);
	display: block;
}
a.contact2 {
	background: url(../images/common/btn_contact.png);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: 234px;
	height: 60px;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 5px;
	float: none;
}
a.contact2:hover {
	background: url(../images/common/btn_contact_p.png);
}
/*ナビケーション*/
#mainmenu {
	list-style-type: none;
	width: 100%;
	margin-top: 10px;
	margin-right: 0px;
	margin-left: auto;
	margin-bottom: 30px;
	padding: 0;
	height: 20px;
	float: left;
}
#mainmenu li {
	position: relative;
	width: 12.5%;
	float: left;
	margin: 0;
	padding: 0;
	text-align: center;
}
#mainmenu li a {
	display: block;
	margin: 0;
	padding-top: 9px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 8px;
	background-color: #21546D;/*navカラー*/
	color: #FFFFFF;/*navテキストカラー*/
	font-size: large;
	font-weight: lighter;
	line-height: 1;
	text-decoration: none;
}
#mainmenu li ul {
	list-style: none;
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
}
#mainmenu li ul li {
	overflow: hidden;
	width: 100%;
	height: 0;
	color: #fff;
	transition: .2s;
}
#mainmenu li ul li a {
	padding-top: 15px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 13px;
	background-color: #2F799D;/*ドロップダウンメニュー1カラー*/
	text-align: left;
	font-weight: bold;
	font-size: x-small;
}
#mainmenu > li:hover > a {
	background-color: #2F799D;/*nav_foverカラー*/
}
#mainmenu > li:hover li:hover > a {
	background-color: #52A3CA;/*ドロップダウンメニュー1foverカラー*/
}
#mainmenu li:hover > ul > li {
	overflow: visible;
	height: 38px;
}
#mainmenu li ul li ul {
	top: 0;
	left: 100%;
}
#mainmenu li:last-child ul li ul {
	left: -100%;
	width: 100%;
}
#mainmenu li ul li ul li a {
	background-color: #52A3CA;/*ドロップダウンメニュー2カラー*/
}
#mainmenu li:hover ul li ul li:hover > a {
	background-color: #93C5DE;/*ドロップダウンメニュー2hoverカラー*/
}
#mainmenu li ul li ul:before {
	position: absolute;
	content: "";
	top: 13px;
	left: -20px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: #fff;/*左矢印カラー*/
}
#mainmenu li:last-child ul li ul:before {
	position: absolute;
	content: "";
	top: 13px;
	left: 200%;
	margin-left: -20px;
	border: 5px solid transparent;
	border-right-color: #727171;/*右矢印カラー*/
}
/*ナビ終了*/
/*toppage*/
.top {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	height: auto;
	float: left;
}
#topmain {
	float: left;
	margin: 0px;
	width: 66%;
	height: auto;
}
article {
	float: left;
	width: 34%;
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#text {
	border: 2px solid #21546D;/*インフォテキストボックス枠カラー*/
	background-color: #D6E9F2;/*インフォテキストボックス地カラー*/
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	max-width: 286px;
	width: 90%;
	display: block;
	float: right;
}
aside {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	padding-top: 10px;
	float: left;
	width: 34%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
footer {
	width: 100%;
	/*background-color: #FFFFFF;*/
	height: auto;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	clear: both;
}
#footerleft {
	width: 50%;
	/*background-color: #FFFFFF;*/
	display: block;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#footerright {
	width: 50%;
	/*background-color: #FFFFFF;*/
	display: block;
	top: 50%;
	left: 50%;
	height: auto;
	float: left;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.freecall {
	float: left;
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
}
#footerleft p {
	font-weight: lighter;
	font-size: small;
	line-height: 2em;
	display: block;
}
.gcalogo {
	display: block;
	float: left;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
}
#footerright p {
	font-weight: lighter;
	font-size: small;
	text-align: left;
	line-height: 2em;
	display: block;
}
strong {
	font-size: 1.5em;
}
#copyright {
	font-weight: lighter;
	font-size: x-small;
	clear: both;
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
	height: auto;
	margin: 0px;
}
/*toppage終了*/
/*designpage*/
/*通常版デザインページ*/
/*#wrapper {
	width: 100%;
	background-repeat: repeat-y;
	background-image: url(../images/common/6517903.jpg);
	overflow: hidden;
	height: auto;
	float: left;
	background-position: center top;
}
#design {
	width: 100%;
	margin: 10px 0px;
	height: auto;
	display: block;
	float: left;
}
#architect {
	font-weight: lighter;
	font-size: small;
	text-indent: 0px;
	color: #000000;
	width: 100%;
	height: auto;
	display: block;
	margin: 10px 0px;
	float: left;
}
#gardendesigner {
	font-weight: lighter;
	font-size: small;
	text-indent: 0px;
	color: #000000;
	width: 100%;
	height: auto;
	display: block;
	margin: 10px 0px;
	float: left;
}
#senshow {
	font-weight: lighter;
	font-size: small;
	text-indent: 0px;
	color: #000000;
	width: 100%;
	height: auto;
	display: block;
	margin: 10px 0px;
	float: left;
}
#designleft {
	width: 30%;
	float: left;
	height: auto;
	margin: 0px;
	display: block;
}
#profilephoto {
	margin: 0px;
	display: block;
	float: left;
	height: auto;
}
dl {
	font-weight: lighter;
	font-size: smaller;
	line-height: 1.3em;
	float: left;
	display: block;
	margin: 5px 0px;
	width: auto;
	height: auto;
}
dt {
	float: left;
	width: 40px;
}
dd {
	margin-left: 50px;
	margin-right: 10px;
}
#prof {
	float: left;
}
#designright {
	width: 70%;
	float: left;
	height: auto;
	margin: 0px;
	display: block;
}
#designcopy {
	margin: 0px;
	width: 100%;
	display: block;
	float: right;
}
#designphoto {
	width: 100%;
	height: auto;
	margin: 0px;
	display: block;
}
#example {
	width: 46%;
	height: auto;
	font-size: smaller;
	display: block;
	margin: 1% 2%;
	float: left;
}
#example a img {
	width: 100%;
	height: auto;
}*/
/*上田氏のみページ用*/
#wrapper {
	width: 100%;
	background-repeat: repeat-y;
	background-image: url(../images/common/6517903.jpg);
	overflow: hidden;
	height: auto;
	float: left;
	background-position: center top;
}
#design {
	width: 100%;
	margin: 10px 0px;
	height: auto;
	display: block;
	float: left;
}
#architect {
	font-weight: lighter;
	font-size: small;
	text-indent: 0px;
	color: #000000;
	width: 100%;
	height: auto;
	display: block;
	margin: 10px 0px;
	float: left;
}
#design2 {
	width: 50%;
	height: auto;
	margin: 0px;
	display: block;
	float: left;
}
#profilephotoU {
	width: 96%;
	height: auto;
	margin: 0px 10px;
	display: block;
	float: left;
}
#profilephotoU img {
	width: 100%;
	height: auto;
	margin: 0;
	display: block;
}
dl {
	font-weight: lighter;
	font-size: smaller;
	line-height: 1.3em;
	float: left;
	display: block;
	margin: 5px 10px;
	width: 96%;
	height: auto;
}
dt {
	float: left;
	width: 40px;
}
dd {
	margin-left: 50px;
	margin-right: 10px;
}
#profU {
	float: left;
	width: 100%;
	height: auto;
	margin: 0px;
	display: block;
}
#design1 {
	width: 50%;
	float: left;
	height: auto;
	margin: 0px;
	display: block;
}
#designcopyU {
	margin: 0px;
	width: 100%;
	display: block;
	float: left;
	height: auto;
}
#exampleC {
	width: 100%;
	height: auto;
	font-size: smaller;
	display: block;
	margin: 10px 0px;
	float: left;
}
#exampleC a img {
	width: 100%;
	height: auto;
	margin: 0px;
	display: block;
}
#designphotoU {
	width: 100%;
	height: auto;
	margin: 10px auto;
	display: block;
	float: left;
}
#exampleU {
	width: 31%;
	height: auto;
	font-size: smaller;
	display: block;
	margin: 10px;
	float: left;
}
#exampleU a img {
	width: 100%;
	height: auto;
	margin: 0px;
	display: block;
}
#example {
	width: 46%;
	height: auto;
	font-size: smaller;
	display: block;
	margin: 1% 2%;
	float: left;
}
#example a img {
	width: 100%;
	height: auto;
}
/*上田氏のみページ終了*/
/*designpage終了*/
/*conceptpage*/
#concept {
	width: 100%;
	height: auto;
	text-align: center;
	margin: 20px auto;
	display: block;
	float: left;
}
#conceptA {
	width: 100%;
	margin: 0 auto;
	height: auto;
	display: block;
	text-align: center;
}
#conceptphotoA {
	width: 84%;
	height: auto;
	margin: 20px auto;
	text-align: left;
	display: block;
}
#conceptB {
	width: 100%;
	margin: 0 auto;
	height: auto;
	display: block;
	text-align: center;
}
#conceptphotoB {
	width: 84%;
	height: auto;
	margin: 20px auto;
	text-align: center;
	display: block;
}
/*conceptpage終了*/
/*locationpage*/
#location {
	width: 100%;
	margin: 20px auto;
	height: auto;
	float: left;
}
#loca {
	width: 100%;
	height: auto;
	margin: 40px auto;
	display: block;
}
#loca h6 {
	width: 94%;
	height: auto;
	margin: 10px auto;
	display: block;
	text-align: center;
}
/*画像制御*/
#loca img {
	width: 80%;
	margin: 0 auto;
	height: auto;
	display: block;
}
/*大見出し*/
#widearea {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}
#trainmap {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}
#trainaccess {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}
#neermap {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}
#li {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	display: block;
	height: auto;
	width: 100%;
	text-align: center;
}
#tat1 {
	width: 40%;
	height: auto;
	float: left;
	display: block;
}
#tat1 table tr {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: small;
}
#tat2 {
	width: 60%;
	height: auto;
	display: block;
	float: left;
}
#tat2 img {
	width: 60%;
	margin: 60px auto;
	height: auto;
}
#LItext {
	text-align: left;
	font-size: x-small;
	width: 33%;
	float: left;
	display: table;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 2px;
	margin-bottom: 0px;
	height: auto;
}
#LIhyou p {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: x-small;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	text-align: right;
}
/*.copy strong {
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: normal;
	font-size: medium;
}
*/
/*locationpage終了*/
/*equipmentpage*/
#focus {
	width: 100%;
	margin: 20px auto;
	height: auto;
	display: block;
	float: left;
}
#fc {
	display: block;
	width: 100%;
	height: auto;
	margin: 10px auto;
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	text-align: center;
}
#focus h6 {
	width: 80%;
	margin: 10px auto;
	height: auto;
	display: block;
	text-align: center;
}
#focus p {
	margin: 10px auto;
	width: 80%;
	height: auto;
	display: block;
	text-align: center;
}
#focus a img {
	margin: 0 auto;
	display: block;
	width: 80%;
	height: auto;
}
#equipment {
	width: 100%;
	height: auto;
	display: block;
	margin: 20px 0;
	float: left;
}
#equip {
	display: block;
	width: 100%;
	height: auto;
	margin: 20px auto;
	color: #777777;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	font-size: medium;
	text-align: center;
	border-bottom: thin solid #000000;
}
#equipment h6 {
	width: 94%;
	margin: 10px auto;
	height: auto;
	display: block;
	text-align: center;
}
#eq_block {
	width: 33%;
	font-size: x-small;
	float: left;
	margin: 0px 0px 10px;
	display: block;
	height: auto;
	min-height: 340px;
}
#eq_block h5 {
	width: 100%;
	height: auto;
	margin: 0px;
	display: block;
}
#eq_block p {
	width: 80%;
	margin: 0 auto;
	display: block;
}
#eq_block img {
	margin: 10px auto;
	display: block;
}
/*equipmentpage終了*/
/*layoutpage*/
#type {
	width: 100%;
	height: auto;
	margin: 10px auto;
	float: left;
}
#lo {
	border-bottom: thin solid #21546D;
}
#roomlayout1 {
	width: 100%;
	height: auto;
	margin: 20px auto;
	display: block;
	float: left;
}
#roomlayout1 a {
	display: block;
	width: 240px;
	height: 102px;
	margin: 0 auto;
	text-align: center;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#btn_block1 {
	width: 33%;
	height: auto;
	display: block;
	text-align: center;
	margin: 0 auto;
	float: left;
}
#roomlayout2 {
	width: 100%;
	height: auto;
	margin: 20px auto;
	display: block;
	float: left;
}
#roomlayout2 a {
	display: block;
	width: 240px;
	height: 102px;
	margin: 0 auto;
	text-align: center;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
#btn_block2 {
	width: 50%;
	height: auto;
	display: block;
	text-align: center;
	margin: 0 auto;
	float: left;
}
a.tbt1 {
	background: url(../layout/images/btn_A.png) no-repeat;
}
a.tbt2 {
	background: url(../layout/images/btn_B.png) no-repeat;
}
a.tbt3 {
	background: url(../layout/images/btn_C.png) no-repeat;
}
a.tbt4 {
	background: url(../layout/images/btn_D.png) no-repeat;
}
a.tbt5 {
	background: url(../layout/images/btn_E.png) no-repeat;
}
a.tbt6 {
	background: url(../layout/images/btn_F.png) no-repeat;
}
a:hover.tbt1 {
	background: url(../layout/images/btn_A_on.png) no-repeat;
}
a:hover.tbt2 {
	background: url(../layout/images/btn_B_on.png) no-repeat;
}
a:hover.tbt3 {
	background: url(../layout/images/btn_C_on.png) no-repeat;
}
a:hover.tbt4 {
	background: url(../layout/images/btn_D_on.png) no-repeat;
}
a:hover.tbt5 {
	background: url(../layout/images/btn_E_on.png) no-repeat;
}
a:hover.tbt6 {
	background: url(../layout/images/btn_F_on.png) no-repeat;
}
#floor {
	width: 100%;
	height: auto;
	margin: 10px auto;
	float: left;
}
#fp {
	border-bottom: thin solid #21546D;
}
#floor img {
	margin: 0 auto;
	display: block;
	width: 76%;
	height: auto;
}
#kakukai {
	width: 100%;
	height: auto;
	margin: 10px auto;
}
#elevation {
	width: 100%;
	height: auto;
	margin: 10px auto;
	float: left;
}
#ep {
	border-bottom: thin solid #21546D;
}
#ritsumen1 {
	width: 40%;
	height: auto;
	margin: 20px auto;
	float: left;
}
#ritsumen1 img {
	width: 45%;
	display: block;
	margin: 0 auto;
}
#ritsumen2 {
	width: 60%;
	height: auto;
	margin: 20px auto;
	float: left;
}
#ritsumen2 img {
	width: 60%;
	display: block;
	margin: 0 auto;
}
#caution {
	clear: both;
	float: left;
	width: 100%;
	height: auto;
}
#caution ul {
	font-size: x-small;
	margin-top: -10px;
	margin-right: 0;
	margin-left: 1em;
	margin-bottom: 0;
	padding: 0;
}
/*layoutpage終了*/
/*gallerypage*/
#gallery {
	width: 100%;
	height: auto;
	float: left;
	margin: 40px auto 10px;
}
#dp {
	border-bottom: thin solid #21546D;
}
#pers {
	width: 100%;
	height: auto;
	margin: 10px auto;
	display: block;
	float: left;
}
#ps_ext {
	width: 31%;
	margin: 10px;
	height: auto;
	display: block;
	float: left;
}
#ps_ext a img {
	width: 100%;
	height: auto;
	margin: 0;
	display: block;
	max-height: 418px;
}
#persphoto {
	width: 31%;
	height: auto;
	font-size: smaller;
	display: block;
	margin: 10px;
	float: left;
}
#persphoto a img {
	width: 100%;
	height: auto;
	margin: 0;
	display: block;
}
#photo {
	width: 100%;
	height: auto;
	float: left;
	margin: 20px auto 0px;
}
#ext {
	border-bottom: thin solid #21546D;
}
#int {
	border-bottom: thin solid #21546D;
}
#gl_photo {
	width: 100%;
	margin: 10px auto;
	height: auto;
	float: left;
	display: block;
}
#gl_photo img {
	display: block;
	float: left;
	margin-top: 13px;
	margin-right: 13px;
	margin-bottom: 13px;
	margin-left: 13px;
	width: 22%;
	height: auto;
}
/*gallerypage終了*/
/*outlinepage*/
#outline {
	width: 100%;
	height: auto;
	margin: 20px auto;
	float: left;
}
#gaiyo1 {
	display: block;
	margin: 10px 0px 0px;
}
#gaiyo2 {
	display: block;
	margin: 10px 0px 0px;
}
#gaiyo3 {
	display: block;
	margin: 10px 0px 0px;
}
#gaiyo4 {
	display: block;
	margin: 10px 0px 0px;
}
#gaiyo5 {
	display: block;
	margin: 10px 0px 0px;
}
.gaiyo {
	width: 100%;
	height: auto;
	margin: 5px 0px 20px;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-spacing: 0px;
}
table.gaiyo tr th, table.gaiyo tr td {
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	text-align: left;
	font-weight: lighter;
	font-size: 10px;
	padding: 5px
}
table.gaiyo tr th {
	background-color: #A0CCE2;
	text-align: left;
}
table.nakashiage {
	width: 100%;
	height: auto;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-spacing: 0px;
	margin: 5px 0px 20px;
}
table.nakashiage tr th, table.nakashiage tr td {
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	text-align: left;
	font-weight: lighter;
	font-size: 10px;
	padding: 5px;
}
table.nakashiage tr th {
	background-color: #A0CCE2;
	text-align: center;
}
.gaiyo caption {
	text-align: left;
}
.nakashiage caption {
	text-align: left;
}
/*outlinepage終了*/

/*cleafix*/
.clearfix {
 *zoom : 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}
.clearfix2 {
 *zoom : 1;
}
.clearfix2:before, .clearfix:after {
	display: table;
	content: " ";
	line-height: 0;
}
.clearfix2:after {
	clear: both;
}
article h3 {
	font-style: normal;
	color: #21546D;
	font-weight: normal;
	font-size: large;
	display: block;
	margin-top: 0px;
	margin-bottom: 10px;
	width: auto;
	margin-left: 0px;
	margin-right: 0px;
	text-indent: 20px;
}

/*#LIhyou {
	width: 100%;
	height: auto;
}
#title {
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: -10px;
	margin-top: 0px;
	display: block;
	width: auto;
	height: auto;
}
*/

@media screen and (max-width: 1080px) {
body {
	width: 95%;
	height: auto;
}
header {
	border-bottom: thin solid #000000;
}
#headerleft {
	width: 100%;
	float: left;
}
#headermiddle {
	width: 100%;
	margin: 20px auto;
	float: left;
}
#headerright {
	display: none;
}
#text {
	width: 86%;
}
a.contact2 {
	float: right;
	margin: 5px 0px;
}
#footerleft p {
	font-size: 90%;
}
#footerright p {
	font-size: 90%;
}
#exampleU {
	width: 32%;
	margin: 5px;
	height: auto;
}
#tat1 {
	width: 50%;
}
#tat2 {
	width: 50%;
}
#tat2 img {
	width: 80%;
}
#LItext {
	font-size: x-small;
}
#eq_block {
	min-height: 370px;
}
#equipment h6 {
	font-size: x-small;
}
#lo {
	border-bottom-style: none;
}
#roomlayout1 {
	width: 50%;
}
#roomlayout1 a {
	margin: 0 auto;
}
#btn_block1 {
	float: none;
	margin: 10px auto;
	width: 100%;
}
#roomlayout2 {
	width: 50%;
}
#roomlayout2 a {
	margin: 0 auto;
}
#btn_block2 {
	float: none;
	margin: 10px auto;
	width: 100%;
	height: auto;
}
#floor img {
	width: 80%;
	height: auto;
}
#ritsumen1 img {
	width: 60%;
}
#ritsumen2 img {
	width: 80%;
}
#ps_ext {
	width: 29%;
}
#ps_ext a img {
	width: 100%;
	height: auto;
}
#persphoto {
	width: 30%;
	height: auto;
}
#gl_photo img {
	width: 21%;
	margin-top: 20px;
	margin-right: 14px;
	margin-left: 14px;
	margin-bottom: 20px;
	height: auto;
}
}

@media screen and (max-width: 768px) {
body {
	width: 90%;
	height: auto;
	font-size: small;
}
#topmain {
	width: 100%;
}
article {
	width: 45%;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
aside {
	width: 55%;
	float: right;
	margin-top: 24px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
a.contact2 {
	float: right;
	margin: 5px 0px;
}
#footerleft {
	width: 100%;
	float: left;
}
#footerright {
	width: 100%;
	float: left;
}
#designcopyU {
	float: none;
}
#design2 {
	float: none;
	width: 100%;
}
#design1 {
	width: 100%;
}
#profilephotoU {
	margin: 0px;
	width: 100%;
	height: auto;
}
#exampleU {
	width: 47%;
}
.concept1 section p {
	letter-spacing: -0.1em;
}
.concept2 section p {
	letter-spacing: -0.1em;
}
#widearea {
	letter-spacing: -0.1em;
}
#loca img {
	width: 100%;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	height: auto;
}
#tat1 {
	margin: 10px auto;
	width: 80%;
	display: block;
	height: auto;
	float: none;
}
#tat2 {
	width: 100%;
}
#tat2 img {
	width: 80%;
	margin: 10px auto;
	height: auto;
}
#LItext {
	width: 100%;
	display: table;
	text-align: center;
	font-size: x-small;
	height: auto;
}
#focus a img {
	width: 100%;
}
#focus p {
	width: 90%;
}
#equip {
	padding-top: 10px;
	padding-bottom: 10px;
}
#eq_block {
	width: 100%;
	float: none;
}
#eq_block p {
	text-align: center;
}
#roomlayout1 {
	width: 100%;
}
#roomlayout1 a {
	margin: 0 auto;
}
#roomlayout2 {
	width: 100%;
}
#roomlayout2 a {
	margin: 0 auto;
}
#floor img {
	width: 100%;
	height: auto;
}
#ritsumen1 img {
	width: 75%;
}
#ritsumen2 img {
	width: 100%;
}
#ps_ext {
	width: 50%;
	margin: 0 auto;
	height: auto;
	display: block;
	float: none;
}
#ps_ext a img {
	width: 100%;
	height: auto;
	max-height: none;
	margin: 0;
	display: block;
}
#persphoto {
	width: 50%;
	height: auto;
	margin: 10px auto;
	display: block;
	float: none;
}
#gl_photo img {
	width: 50%;
	margin: 10px auto;
	float: none;
	display: block;
	height: auto;
}
.gaiyo tr th {
	width: 28%;
}
}
