@charset "UTF-8";
body, p, ul, li {
}
img {
	max-width: 100%;
    height: auto;
}
a {
	color: #000000;
	width: 34px;
	height: 29px;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}
h1 {
	font-size: x-large;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	color: #000000;
	margin: 0px;
	text-align: left;
}
h2 {
	font-size: small;
	color: #000000;
	font-weight: lighter;
	margin: 0px;
	line-height: 1.5em;
}
body {
	background-color: #FFFFFF;
	background-attachment: scroll;
	height: auto;
	margin: 0auto;
	-webkit-text-size-adjust: 100%;
}
header {
	max-width: 100%;
	height: auto;
	margin: 0auto;
	text-align: center;
}
footer {
	max-width: 100%;
	height: auto;
	margin: 0auto;
	text-align: center;
}

@media print {
body {
	zoom: 100%;
}
#btn {
	display: none;
}
}
/*cleafix*/
/*.clearfix {
 *zoom : 1;
}
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
	line-height: 0;
}
.clearfix:after {
	clear: both;
}*/
